In [69]:
%pip install ipython
%pip install seaborn

Requirement already satisfied: ipython in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (7.34.0)
Requirement already satisfied: pickleshare in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (4.8.0)
Requirement already satisfied: decorator in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (5.1.1)
Requirement already satisfied: matplotlib-inline in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.1.6)
Requirement already satisfied: traitlets>=4.2 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (5.4.0)
Requirement already satisfied: backcall in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (3.0.31)
Requirement already satisfied: pygments in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (2.13.0)
Requirement already satisfied: appnope in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (63.4.1)
Requirement already satisfied: jedi>=0.16 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (0.12.1)
Requirement already satisfied: pandas>=0.25 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (1.3.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (3.5.3)
Requirement already satisfied: numpy>=1.17 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (1.21.6)
Requirement already satisfied: typing_extensions in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (4.4.0)
Requirement already satisfied: cycler>=0.10 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from pandas>=0.25->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [70]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')


# para pintar
import pylab as plt
import seaborn as sns

#para que salga el grafico
%matplotlib inline

import csv

In [71]:
sharks_ori = pd.read_csv('data/attacks.csv', encoding='latin1')

sk=sharks_ori.copy()

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [72]:
sharks_ori.shape

(25723, 24)

In [73]:
sk.shape

(25723, 24)

In [74]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [75]:
sk.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [76]:
sk = sk.rename(columns={'Sex ': 'Sex','Fatal (Y/N)': 'Fatal','Species ': 'Species' })

In [77]:
selected_rows = sk[sk.isnull().all(axis=1)]
selected_rows.index

Int64Index([ 8702,  8703,  8704,  8705,  8706,  8707,  8708,  8709,  8710,
             8711,
            ...
            25712, 25713, 25714, 25715, 25716, 25717, 25718, 25719, 25720,
            25721],
           dtype='int64', length=17020)

In [78]:
sk.drop(selected_rows.index,inplace=True)

In [79]:
sk.shape

(8703, 24)

In [80]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Unnamed: 22               99.988510
Unnamed: 23               99.977019
Time                      66.126623
Species                   60.197633
Age                       60.117201
Sex                       34.080202
Activity                  33.838906
Location                  33.792945
Fatal                     33.781455
Area                      32.816270
Name                      30.001149
Country                   28.162703
Injury                    27.909916
Investigator or Source    27.783523
Type                      27.634149
Year                      27.611169
href formula              27.599678
Date                      27.588188
pdf                       27.588188
href                      27.588188
Case Number.1             27.588188
Case Number.2             27.588188
original order            27.507756
Case Number                0.011490
dtype: float64

In [81]:
sk.drop(columns=['Unnamed: 22', 'Unnamed: 23'], inplace=True)

In [82]:
sk.shape

(8703, 22)

In [83]:
sk.Species.fillna('unknown', inplace=True)

In [84]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Time                      66.126623
Age                       60.117201
Sex                       34.080202
Activity                  33.838906
Location                  33.792945
Fatal                     33.781455
Area                      32.816270
Name                      30.001149
Country                   28.162703
Injury                    27.909916
Investigator or Source    27.783523
Type                      27.634149
Year                      27.611169
href formula              27.599678
Case Number.2             27.588188
Date                      27.588188
pdf                       27.588188
href                      27.588188
Case Number.1             27.588188
original order            27.507756
Case Number                0.011490
dtype: float64

In [85]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal                   5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 8703 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 10.8 MB

Convertir las columnas numéricas a float:

In [86]:
col_deberian_num=['Age']

In [87]:
sk['Age'] = pd.to_numeric(sk['Age'], errors='coerce',downcast='integer')

In [88]:
sk.Age.dtype

dtype('float64')

Convertir las columnas con contenido temporal a datetime:

In [89]:
col_deberian_daytime=['Date','Case Number.1','Case Number.2']

In [90]:
sk['Date'] = pd.to_datetime(sk['Date'], errors='coerce')

In [91]:
sk['Case Number.1'] = pd.to_datetime(sk['Case Number.1'], errors='coerce')

In [92]:
sk['Case Number.2'] = pd.to_datetime(sk['Case Number.2'], errors='coerce')

In [93]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    5458 non-null   datetime64[ns]
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3369 non-null   float64
 11  Injury                  6274 non-null   object
 12  Fatal                   5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 8703 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           3815 non-null   datetime64[ns]
 20  Case Number.2           3813 non-null   datetime64[ns]
 21  original order          6309 non-null   float64
dtypes: datetime64[ns](3), float64(3), object(16)
memory usage: 9.2 MB

Convetir los NaN a 'unknown':

In [94]:
sk.Time.fillna('unknown', inplace=True)

In [95]:
sk['Time'].unique()

array(['18h00', '14h00  -15h00', '07h45', 'unknown', 'Late afternoon',
       '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30',
       '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40',
       '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night',
       '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30',
       '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10',
       '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00',
       '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15',
       '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [96]:
import re
def limpiar_time(x):
    
    let=re.findall('/[hH]', x)
    
    if let:
        return x.remove(let)
    else:
        return x

In [97]:
def limpiar_time(x):
    try:
        return ''.join(filter(str.isdigit, x))
    except:
        return str(x)

In [98]:
sk['time']=sk.Time.apply(limpiar_time)

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,1800
1,2018.06.18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,14001500
2,2018.06.09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,0745
3,2018.06.08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,
4,2018.06.04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,

In [99]:
sk['time'].unique()

array(['1800', '14001500', '0745', '', '1700', '1400', '1500', '0815',
       '1100', '1030', '1040', '1650', '0700', '0930', '2150', '0940',
       '0800', '1735', '1530', '0730', '1900', '1600', '1501', '1200',
       '1345', '2330', '0900', '1430', '1830', '1230', '1630', '1845',
       '0600', '1000', '1044', '1319', '1330', '1045', '1120', '1145',
       '1930', '0830', '1545', '1734', '1710', '1115', '0850', '1745',
       '1300', '1020', '1320', '0200', '0950', '1130', '1730', '900',
       '1043', '1515', '1540', '1905', '14301530', '2200', '1620', '1434',
       '1525', '1455', '1746', '1549', '09301000', '1015', '1815', '0400',
       '1450', '1350', '1920', '1025', '10451115', '1645', '1552', '0615',
       '1440', '1945', '1010', '0845', '1210', '1805', '1141', '1225',
       '1751', '1612', '1245', '1050', '1415', '0945', '0645', '0500',
       '0330', '060008', '0630', '1720', '2000', '1640', '1618', '1110',
       '1750', '07000800', '18151830', '1701', '0957', '0820', '1758',
       '2030', '1519', '1055', '1555', '2300', '1240', '1355', '1605',
       '1410', '1520', '1250', '1445', '1340', '1324', '09000930', '1140',
       '0810', '1556', '1420', '0756', '1717', '1635', '0905', '0715',
       '0720', '1928', '1238', '0550', '1550', '1105', '0545', '1325',
       '1220', '1326', '0911', '1215', '1315', '1820', '1535', '1351',
       '0805', '1915', '1035', '1544', '2100', '0935', '1027', '1016',
       '0920', '10001100', '1205', '1421', '1850', '1553', '11115',
       '1342', '2015', '1239', '0705', '1305', '1150', '1755', '2230',
       '1715', '1610', '0610', '1615', '05000800', '0708', '17001740',
       '0300', '1202', '1255', '1614', '1711', '0030', '1437', '1007',
       '1353', '1155', '1323', '0230', '0840', '1156', '1435', '0750',
       '1425', '13345', '0647', '09001000', '2045', '1840', '1314',
       '1306', '1234', '1153', '804', '1246', '1248', '1742', '1235',
       '20000821', '1157', '1740', '1125', '1825', '1028', '0915', '1416',
       '0955', '2', '1505', '1148', '11001130', '0719', '1337', '1106',
       '1158', '1151', '1812', '0710', '0740', '1233', '3019920708',
       '1506', '1254', '06000720', '1655', '0540', '2130', '0857', '0835',
       '1022', '0245', '1037', '1810', '0855', '16301800', '0650', '0100',
       '0732', '15001545', '19002000', '12451345', '03450400', '1310',
       '09301530', '08000930', '1935', '12001400', '1335', '0132',
       '10301330', '1623', '10001400', '1910', '1625', '18152130',
       '11001200', '1101', '0310', '1955', '0130', '0530', '0858',
       '06000700', '0150', '17001800'], dtype=object)

In [100]:
def limpiar_time2(x):
    try:
        return ''.join(x[0:4])
    except:
        return str(x)

In [101]:
sk['time']=sk.time.apply(limpiar_time2)

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,1800
1,2018.06.18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,1400
2,2018.06.09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,0745
3,2018.06.08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,
4,2018.06.04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,

In [102]:
sk['time'].unique()

array(['1800', '1400', '0745', '', '1700', '1500', '0815', '1100', '1030',
       '1040', '1650', '0700', '0930', '2150', '0940', '0800', '1735',
       '1530', '0730', '1900', '1600', '1501', '1200', '1345', '2330',
       '0900', '1430', '1830', '1230', '1630', '1845', '0600', '1000',
       '1044', '1319', '1330', '1045', '1120', '1145', '1930', '0830',
       '1545', '1734', '1710', '1115', '0850', '1745', '1300', '1020',
       '1320', '0200', '0950', '1130', '1730', '900', '1043', '1515',
       '1540', '1905', '2200', '1620', '1434', '1525', '1455', '1746',
       '1549', '1015', '1815', '0400', '1450', '1350', '1920', '1025',
       '1645', '1552', '0615', '1440', '1945', '1010', '0845', '1210',
       '1805', '1141', '1225', '1751', '1612', '1245', '1050', '1415',
       '0945', '0645', '0500', '0330', '0630', '1720', '2000', '1640',
       '1618', '1110', '1750', '1701', '0957', '0820', '1758', '2030',
       '1519', '1055', '1555', '2300', '1240', '1355', '1605', '1410',
       '1520', '1250', '1445', '1340', '1324', '1140', '0810', '1556',
       '1420', '0756', '1717', '1635', '0905', '0715', '0720', '1928',
       '1238', '0550', '1550', '1105', '0545', '1325', '1220', '1326',
       '0911', '1215', '1315', '1820', '1535', '1351', '0805', '1915',
       '1035', '1544', '2100', '0935', '1027', '1016', '0920', '1205',
       '1421', '1850', '1553', '1111', '1342', '2015', '1239', '0705',
       '1305', '1150', '1755', '2230', '1715', '1610', '0610', '1615',
       '0708', '0300', '1202', '1255', '1614', '1711', '0030', '1437',
       '1007', '1353', '1155', '1323', '0230', '0840', '1156', '1435',
       '0750', '1425', '1334', '0647', '2045', '1840', '1314', '1306',
       '1234', '1153', '804', '1246', '1248', '1742', '1235', '1157',
       '1740', '1125', '1825', '1028', '0915', '1416', '0955', '2',
       '1505', '1148', '0719', '1337', '1106', '1158', '1151', '1812',
       '0710', '0740', '1233', '3019', '1506', '1254', '1655', '0540',
       '2130', '0857', '0835', '1022', '0245', '1037', '1810', '0855',
       '0650', '0100', '0732', '0345', '1310', '1935', '1335', '0132',
       '1623', '1910', '1625', '1101', '0310', '1955', '0130', '0530',
       '0858', '0150'], dtype=object)

In [103]:
def limpiar_time3(x):
    try:
        return f"{x[:2]}:{x[2:]}"
    except:
        return str(x)

In [104]:
sk['time']=sk.time.apply(limpiar_time3)

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,18:00
1,2018.06.18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,14:00
2,2018.06.09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,07:45
3,2018.06.08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,:
4,2018.06.04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,:

In [105]:
sk.time.replace(':', '',inplace=True)

In [106]:
sk.time.head()

0    18:00
1    14:00
2    07:45
3
4
Name: time, dtype: object

In [107]:
sk.Time.unique()

array(['18h00', '14h00  -15h00', '07h45', 'unknown', 'Late afternoon',
       '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30',
       '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40',
       '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night',
       '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30',
       '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10',
       '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00',
       '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15',
       '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [108]:
afternoon_index=sk[sk.Time.str.contains('afternoon' or 'Afternoon')].index

In [109]:
sk.at[afternoon_index, 'time'] = '17:00'

In [110]:
sk[sk.Time.str.contains('afternoon' or 'Afternoon')].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
6,2018.06.03.a,2018-06-03,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18.0,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,6297.0,17:00
51,2018.01.12,2018-01-12,2018.0,Unprovoked,BRAZIL,Fernando de Noronha,Conceicao Beach,Surfing,Ricardo Ferrari Bulhoes,M,20.0,Minor injury to left forearm,N,Late afternoon,small shark,TrackingSharks.com,2018.01.12-Bulhoes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-01-12,2018-01-12,6252.0,17:00
61,2017.11.18,2017-11-18,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,14.0,Heel bitten,N,Late afternoon,unknown,"Florida Today, 11/21/2017",2017.11.18-Anderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017-11-18,2017-11-18,6242.0,17:00
222,2016.09.05.b,2016-09-05,2016.0,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12.0,Lacerations & punctures to lower right leg,N,Late afternoon,unknown,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,6081.0,17:00
223,2016.09.05.a,2016-09-05,2016.0,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,unknown,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,6080.0,17:00

In [111]:
morning_index=sk[sk.Time.str.contains('morning' or 'Morning')].index

In [112]:
sk.at[morning_index, 'time'] = '10:00'

In [113]:
sk[sk.Time.str.contains('morning' or 'Morning')].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
830,2011.12.26.R,NaT,2011.0,Invalid,ANTIGUA,St John's,Fort James Beach,Swimming,"Veron Edwards, Sr.",M,NaN,Bitten on right hand & wrist,NaN,Early morning,Shark involvement not confirmed,"D. Francis, Caribarena, 12/26/2011",2011.12.26.R-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,5473.0,10:00
1144,2009.03.19.b,2009-03-19,2009.0,Unprovoked,AUSTRALIA,New South Wales,South Broulee,Surfing,male,M,NaN,"No injury, shark damaged surfboard",N,Early morning,unknown,"ABC News, 3/19/2009",2009.03.19.b-SouthBroulee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,5159.0,10:00
1256,2008.05.24.a,2008-05-24,2008.0,Unprovoked,MEXICO,Guerro,Playa Linda,Surfing,Bruce Grimes,M,49.0,Lacerations to right forearm and hand,N,Early morning,3 m shark,Associated Press,2008.05.24.a-Grimes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,5047.0,10:00
1322,2007.09.30.a,2007-09-30,2007.0,Unprovoked,NEW CALEDONIA,Loyalty Islands,"Bay of Luengoni, Lifou Island",Swimming,Stéphanie Belliard,F,23.0,FATAL,Y,Early morning,Tiger shark,"Les Nouvelles Caledoniennes, 10/1/2007",2007.09.30.a-Belliard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,4981.0,10:00
1331,2007.09.16.a,2007-09-16,2007.0,Unprovoked,USA,Florida,"Flagler Beach, Flagler County",Surfing,Jessica Riley,F,NaN,"No injury, surfboard bitten",N,Early morning,9.5' shark?,wsbtv.com,2007.09.16.a-Riley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,4972.0,10:00

In [114]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    5458 non-null   datetime64[ns]
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3369 non-null   float64
 11  Injury                  6274 non-null   object
 12  Fatal                   5763 non-null   object
 13  Time                    8703 non-null   object
 14  Species                 8703 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           3815 non-null   datetime64[ns]
 20  Case Number.2           3813 non-null   datetime64[ns]
 21  original order          6309 non-null   float64
 22  time                    8703 non-null   object
dtypes: datetime64[ns](3), float64(3), object(17)
memory usage: 10.1 MB

In [121]:
sk.time.unique()

array(['18:00', '14:00', '07:45', '', '17:00', '15:00', '08:15', '11:00',
       '10:30', '10:40', '16:50', '07:00', '09:30', '21:50', '09:40',
       '08:00', '17:35', '15:30', '07:30', '19:00', '16:00', '15:01',
       '12:00', '13:45', '23:30', '09:00', '14:30', '18:30', '12:30',
       '16:30', '18:45', '06:00', '10:00', '10:44', '13:19', '13:30',
       '10:45', '11:20', '11:45', '19:30', '08:30', '15:45', '17:34',
       '17:10', '11:15', '08:50', '17:45', '13:00', '10:20', '13:20',
       '02:00', '09:50', '11:30', '17:30', '90:0', '10:43', '15:15',
       '15:40', '19:05', '22:00', '16:20', '14:34', '15:25', '14:55',
       '17:46', '15:49', '10:15', '18:15', '04:00', '14:50', '13:50',
       '19:20', '10:25', '16:45', '15:52', '06:15', '14:40', '19:45',
       '10:10', '08:45', '12:10', '18:05', '11:41', '12:25', '17:51',
       '16:12', '12:45', '10:50', '14:15', '09:45', '06:45', '05:00',
       '03:30', '06:30', '17:20', '20:00', '16:40', '16:18', '11:10',
       '17:50', '17:01', '09:57', '08:20', '17:58', '20:30', '15:19',
       '10:55', '15:55', '23:00', '12:40', '13:55', '16:05', '14:10',
       '15:20', '12:50', '14:45', '13:40', '13:24', '11:40', '08:10',
       '15:56', '14:20', '07:56', '17:17', '16:35', '09:05', '07:15',
       '07:20', '19:28', '12:38', '05:50', '15:50', '11:05', '05:45',
       '13:25', '12:20', '13:26', '09:11', '12:15', '13:15', '18:20',
       '15:35', '13:51', '08:05', '19:15', '10:35', '15:44', '21:00',
       '09:35', '10:27', '10:16', '09:20', '12:05', '14:21', '18:50',
       '15:53', '11:11', '13:42', '20:15', '12:39', '07:05', '13:05',
       '11:50', '17:55', '22:30', '17:15', '16:10', '06:10', '16:15',
       '07:08', '03:00', '12:02', '12:55', '16:14', '17:11', '00:30',
       '14:37', '10:07', '13:53', '11:55', '13:23', '02:30', '08:40',
       '11:56', '14:35', '07:50', '14:25', '13:34', '06:47', '20:45',
       '18:40', '13:14', '13:06', '12:34', '11:53', '80:4', '12:46',
       '12:48', '17:42', '12:35', '11:57', '17:40', '11:25', '18:25',
       '10:28', '09:15', '14:16', '09:55', '2:', '15:05', '11:48',
       '07:19', '13:37', '11:06', '11:58', '11:51', '18:12', '07:10',
       '07:40', '12:33', '30:19', '15:06', '12:54', '16:55', '05:40',
       '21:30', '08:57', '08:35', '10:22', '02:45', '10:37', '18:10',
       '08:55', '06:50', '01:00', '07:32', '03:45', '13:10', '19:35',
       '13:35', '01:32', '16:23', '19:10', '16:25', '11:01', '03:10',
       '19:55', '01:30', '05:30', '08:58', '01:50'], dtype=object)

In [122]:
reemplazar=['2:','80:4','90:0','']

In [123]:
sk.time.replace(reemplazar, 'unknown', inplace=True)

In [124]:
sk.time.unique()

array(['18:00', '14:00', '07:45', 'unknown', '17:00', '15:00', '08:15',
       '11:00', '10:30', '10:40', '16:50', '07:00', '09:30', '21:50',
       '09:40', '08:00', '17:35', '15:30', '07:30', '19:00', '16:00',
       '15:01', '12:00', '13:45', '23:30', '09:00', '14:30', '18:30',
       '12:30', '16:30', '18:45', '06:00', '10:00', '10:44', '13:19',
       '13:30', '10:45', '11:20', '11:45', '19:30', '08:30', '15:45',
       '17:34', '17:10', '11:15', '08:50', '17:45', '13:00', '10:20',
       '13:20', '02:00', '09:50', '11:30', '17:30', '10:43', '15:15',
       '15:40', '19:05', '22:00', '16:20', '14:34', '15:25', '14:55',
       '17:46', '15:49', '10:15', '18:15', '04:00', '14:50', '13:50',
       '19:20', '10:25', '16:45', '15:52', '06:15', '14:40', '19:45',
       '10:10', '08:45', '12:10', '18:05', '11:41', '12:25', '17:51',
       '16:12', '12:45', '10:50', '14:15', '09:45', '06:45', '05:00',
       '03:30', '06:30', '17:20', '20:00', '16:40', '16:18', '11:10',
       '17:50', '17:01', '09:57', '08:20', '17:58', '20:30', '15:19',
       '10:55', '15:55', '23:00', '12:40', '13:55', '16:05', '14:10',
       '15:20', '12:50', '14:45', '13:40', '13:24', '11:40', '08:10',
       '15:56', '14:20', '07:56', '17:17', '16:35', '09:05', '07:15',
       '07:20', '19:28', '12:38', '05:50', '15:50', '11:05', '05:45',
       '13:25', '12:20', '13:26', '09:11', '12:15', '13:15', '18:20',
       '15:35', '13:51', '08:05', '19:15', '10:35', '15:44', '21:00',
       '09:35', '10:27', '10:16', '09:20', '12:05', '14:21', '18:50',
       '15:53', '11:11', '13:42', '20:15', '12:39', '07:05', '13:05',
       '11:50', '17:55', '22:30', '17:15', '16:10', '06:10', '16:15',
       '07:08', '03:00', '12:02', '12:55', '16:14', '17:11', '00:30',
       '14:37', '10:07', '13:53', '11:55', '13:23', '02:30', '08:40',
       '11:56', '14:35', '07:50', '14:25', '13:34', '06:47', '20:45',
       '18:40', '13:14', '13:06', '12:34', '11:53', '12:46', '12:48',
       '17:42', '12:35', '11:57', '17:40', '11:25', '18:25', '10:28',
       '09:15', '14:16', '09:55', '15:05', '11:48', '07:19', '13:37',
       '11:06', '11:58', '11:51', '18:12', '07:10', '07:40', '12:33',
       '30:19', '15:06', '12:54', '16:55', '05:40', '21:30', '08:57',
       '08:35', '10:22', '02:45', '10:37', '18:10', '08:55', '06:50',
       '01:00', '07:32', '03:45', '13:10', '19:35', '13:35', '01:32',
       '16:23', '19:10', '16:25', '11:01', '03:10', '19:55', '01:30',
       '05:30', '08:58', '01:50'], dtype=object)

In [127]:
sk.drop(columns='Time',inplace=True)

In [128]:
sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,18:00
1,2018.06.18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11.0,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,14:00
2,2018.06.09,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,07:45
3,2018.06.08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,unknown
4,2018.06.04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,unknown

Convertir los NaN de las columnas objeto a 'unknown':

In [130]:
str_cols = ['Case Number', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Injury', 'Fatal', 'Species', 'Investigator or Source',
       'pdf', 'href formula', 'href']
str_cols

['Case Number',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Injury',
 'Fatal',
 'Species',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href']

In [131]:
sk[str_cols] = sk[str_cols].fillna('unknown')

Columnas repetidas:

In [139]:
#sk['href formula']==sk['href'] esta formula da True

In [140]:
sk.drop(columns='href formula', inplace=True)

In [142]:
sk.shape

(8703, 21)

In [143]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Age               61.289211
Case Number.2     56.187522
Case Number.1     56.164541
Date              37.285993
Year              27.611169
original order    27.507756
dtype: float64

Eliminar columnas que no aportan valor (Case Number.1,Case Number.2) ya que equivalen a Date:

In [145]:
sk.drop(columns=['Case Number.1', 'Case Number.2'], inplace=True)

In [146]:
sk.shape

(8703, 19)

Convertir NaN de original order en 'unknown':

In [147]:
sk['original order'].fillna('unknown', inplace=True)

In [148]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Age     61.289211
Date    37.285993
Year    27.611169
dtype: float64

Convertir los NaN de Age en la media:

In [161]:
sk.Age.unique()

array([57., 11., 48., nan, 18., 52., 15., 12., 32., 10., 21., 34., 30.,
       60., 33., 29., 54., 41., 37., 56., 19., 25., 69., 38., 55., 35.,
       46., 45., 14., 28., 20., 24., 26., 49., 22.,  7., 31., 17., 40.,
       13., 42.,  3.,  8., 50., 16., 82., 73., 68., 51., 39., 58., 47.,
       61., 65., 36., 66., 43.,  9., 72., 59.,  6., 27., 64., 23., 71.,
       44., 62., 63., 70., 53., 77., 74.,  5., 86., 84., 75., 87., 67.,
        1., 81., 78.])

In [160]:
sk.Age.mean()

27.36835856337192

In [162]:
sk.Age = sk.Age.fillna(27.36).astype(int)

In [163]:
sk.Age.unique()

array([57, 11, 48, 27, 18, 52, 15, 12, 32, 10, 21, 34, 30, 60, 33, 29, 54,
       41, 37, 56, 19, 25, 69, 38, 55, 35, 46, 45, 14, 28, 20, 24, 26, 49,
       22,  7, 31, 17, 40, 13, 42,  3,  8, 50, 16, 82, 73, 68, 51, 39, 58,
       47, 61, 65, 36, 66, 43,  9, 72, 59,  6, 64, 23, 71, 44, 62, 63, 70,
       53, 77, 74,  5, 86, 84, 75, 87, 67,  1, 81, 78])

In [164]:
sk['Age'] = pd.to_numeric(sk['Age'], errors='coerce',downcast='integer')

In [165]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8703 non-null   object
 1   Date                    5458 non-null   datetime64[ns]
 2   Year                    6300 non-null   float64
 3   Type                    8703 non-null   object
 4   Country                 8703 non-null   object
 5   Area                    8703 non-null   object
 6   Location                8703 non-null   object
 7   Activity                8703 non-null   object
 8   Name                    8703 non-null   object
 9   Sex                     8703 non-null   object
 10  Age                     8703 non-null   int8
 11  Injury                  8703 non-null   object
 12  Fatal                   8703 non-null   object
 13  Species                 8703 non-null   object
 14  Investigator or Source  8703 non-null   object
 15  pdf                     8703 non-null   object
 16  href                    8703 non-null   object
 17  original order          8703 non-null   object
 18  time                    8703 non-null   object
dtypes: datetime64[ns](1), float64(1), int8(1), object(16)
memory usage: 9.8 MB

In [52]:
sk.Sex.value_counts()

M          5094
unknown    2966
F           637
M             2
N             2
lli           1
.             1
Name: Sex, dtype: int64

In [53]:
sk.Sex.fillna('unknown', inplace=True)

In [54]:
sk.Sex.value_counts()

M          5094
unknown    2966
F           637
M             2
N             2
lli           1
.             1
Name: Sex, dtype: int64

In [55]:
sk.Sex.replace('N', 'unknown', inplace=True)

In [56]:
sk.Sex.value_counts()

M          5094
unknown    2968
F           637
M             2
lli           1
.             1
Name: Sex, dtype: int64

In [57]:
sk.Sex.replace('M ', 'M', inplace=True)

In [58]:
sk.Sex.value_counts()

M          5096
unknown    2968
F           637
lli           1
.             1
Name: Sex, dtype: int64

In [59]:
sk.Sex.replace({'lli': 'unknown','.':'unknown'}, inplace=True)

In [60]:
sk.Sex.value_counts()

M          5096
unknown    2970
F           637
Name: Sex, dtype: int64

In [61]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

time              72.044123
Case Number.2     56.187522
Case Number.1     56.164541
Date              37.285993
Year              27.611169
original order    27.507756
dtype: float64

In [62]:
sk.dtypes

Case Number                       object
Date                      datetime64[ns]
Year                             float64
Type                              object
Country                           object
Area                              object
Location                          object
Activity                          object
Name                              object
Sex                               object
Injury                            object
Fatal                             object
Species                           object
Investigator or Source            object
pdf                               object
href formula                      object
href                              object
Case Number.1             datetime64[ns]
Case Number.2             datetime64[ns]
original order                   float64
time                      datetime64[ns]
dtype: object

In [63]:
sk.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
8698,0,NaT,NaN,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,NaT,NaT,NaN,NaT
8699,0,NaT,NaN,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,NaT,NaT,NaN,NaT
8700,0,NaT,NaN,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,NaT,NaT,NaN,NaT
8701,0,NaT,NaN,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,NaT,NaT,NaN,NaT
25722,xx,NaT,NaN,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,NaT,NaT,NaN,NaT

In [64]:
str_cols = sk.columns[sk.dtypes=='float64']
str_cols

Index(['Year', 'original order'], dtype='object')

In [65]:
sk[str_cols] = sk[str_cols].fillna('0')

In [66]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

time             72.044123
Case Number.2    56.187522
Case Number.1    56.164541
Date             37.285993
dtype: float64

In [67]:
sk.dtypes

Case Number                       object
Date                      datetime64[ns]
Year                              object
Type                              object
Country                           object
Area                              object
Location                          object
Activity                          object
Name                              object
Sex                               object
Injury                            object
Fatal                             object
Species                           object
Investigator or Source            object
pdf                               object
href formula                      object
href                              object
Case Number.1             datetime64[ns]
Case Number.2             datetime64[ns]
original order                    object
time                      datetime64[ns]
dtype: object

In [68]:
sk.Type.value_counts().unique

<bound method Series.unique of Unprovoked      4595
unknown         2405
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64>