In [184]:
%pip install ipython
%pip install seaborn

Requirement already satisfied: ipython in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (7.34.0)
Requirement already satisfied: pygments in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (2.13.0)
Requirement already satisfied: matplotlib-inline in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.1.6)
Requirement already satisfied: backcall in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (63.4.1)
Requirement already satisfied: traitlets>=4.2 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (5.4.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (3.0.31)
Requirement already satisfied: pickleshare in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.7.5)
Requirement already satisfied: decorator in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (4.8.0)
Requirement already satisfied: appnope in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from ipython) (0.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (0.12.1)
Requirement already satisfied: numpy>=1.17 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (1.21.6)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (3.5.3)
Requirement already satisfied: typing_extensions in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (4.4.0)
Requirement already satisfied: pandas>=0.25 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from seaborn) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from pandas>=0.25->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in /Users/maria/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [185]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')


# para pintar
import pylab as plt
import seaborn as sns

#para que salga el grafico
%matplotlib inline

import csv

In [186]:
sharks_ori = pd.read_csv('data/attacks.csv', encoding='latin1')

sk=sharks_ori.copy()

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [187]:
sharks_ori.shape

(25723, 24)

In [188]:
sk.shape

(25723, 24)

In [189]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [190]:
sk.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [191]:
sk = sk.rename(columns={'Sex ': 'Sex','Fatal (Y/N)': 'Fatal','Species ': 'Species' })

In [192]:
selected_rows = sk[sk.isnull().all(axis=1)]
selected_rows.index

Int64Index([ 8702,  8703,  8704,  8705,  8706,  8707,  8708,  8709,  8710,
             8711,
            ...
            25712, 25713, 25714, 25715, 25716, 25717, 25718, 25719, 25720,
            25721],
           dtype='int64', length=17020)

In [193]:
sk.drop(selected_rows.index,inplace=True)

In [194]:
sk.shape

(8703, 24)

In [195]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Unnamed: 22               99.988510
Unnamed: 23               99.977019
Time                      66.126623
Species                   60.197633
Age                       60.117201
Sex                       34.080202
Activity                  33.838906
Location                  33.792945
Fatal                     33.781455
Area                      32.816270
Name                      30.001149
Country                   28.162703
Injury                    27.909916
Investigator or Source    27.783523
Type                      27.634149
Year                      27.611169
href formula              27.599678
Date                      27.588188
pdf                       27.588188
href                      27.588188
Case Number.1             27.588188
Case Number.2             27.588188
original order            27.507756
Case Number                0.011490
dtype: float64

In [196]:
sk.drop(columns=['Unnamed: 22', 'Unnamed: 23'], inplace=True)

In [197]:
sk.shape

(8703, 22)

In [198]:
sk.Species.fillna('unknown', inplace=True)

In [199]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Time                      66.126623
Age                       60.117201
Sex                       34.080202
Activity                  33.838906
Location                  33.792945
Fatal                     33.781455
Area                      32.816270
Name                      30.001149
Country                   28.162703
Injury                    27.909916
Investigator or Source    27.783523
Type                      27.634149
Year                      27.611169
href formula              27.599678
Case Number.2             27.588188
Date                      27.588188
pdf                       27.588188
href                      27.588188
Case Number.1             27.588188
original order            27.507756
Case Number                0.011490
dtype: float64

In [200]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal                   5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 8703 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 10.8 MB

Convertir las columnas numÃ©ricas a float:

In [201]:
col_deberian_num=['Age']

In [202]:
sk['Age'] = pd.to_numeric(sk['Age'], errors='coerce',downcast='integer')

In [203]:
sk.Age.dtype

dtype('float64')

Convertir las columnas con contenido temporal a datetime:

In [204]:
col_deberian_daytime=['Date','Case Number.1','Case Number.2']

In [205]:
sk['Case Number.1'] = pd.to_datetime(sk['Case Number.1'], errors='coerce')

In [206]:
sk['Case Number.2'] = pd.to_datetime(sk['Case Number.2'], errors='coerce')

In [207]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3369 non-null   float64
 11  Injury                  6274 non-null   object
 12  Fatal                   5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 8703 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           3815 non-null   datetime64[ns]
 20  Case Number.2           3813 non-null   datetime64[ns]
 21  original order          6309 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(17)
memory usage: 9.6 MB

Convetir los NaN a 'unknown':

In [208]:
sk.Time.fillna('unknown', inplace=True)

In [209]:
sk['Time'].unique()

array(['18h00', '14h00  -15h00', '07h45', 'unknown', 'Late afternoon',
       '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30',
       '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40',
       '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night',
       '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30',
       '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10',
       '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00',
       '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15',
       '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [210]:
import re
def limpiar_time(x):
    
    let=re.findall('/[hH]', x)
    
    if let:
        return x.remove(let)
    else:
        return x

In [211]:
def limpiar_time(x):
    try:
        return ''.join(filter(str.isdigit, x))
    except:
        return str(x)

In [212]:
sk['time']=sk.Time.apply(limpiar_time)

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,1800
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,14001500
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,0745
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,

In [213]:
sk['time'].unique()

array(['1800', '14001500', '0745', '', '1700', '1400', '1500', '0815',
       '1100', '1030', '1040', '1650', '0700', '0930', '2150', '0940',
       '0800', '1735', '1530', '0730', '1900', '1600', '1501', '1200',
       '1345', '2330', '0900', '1430', '1830', '1230', '1630', '1845',
       '0600', '1000', '1044', '1319', '1330', '1045', '1120', '1145',
       '1930', '0830', '1545', '1734', '1710', '1115', '0850', '1745',
       '1300', '1020', '1320', '0200', '0950', '1130', '1730', '900',
       '1043', '1515', '1540', '1905', '14301530', '2200', '1620', '1434',
       '1525', '1455', '1746', '1549', '09301000', '1015', '1815', '0400',
       '1450', '1350', '1920', '1025', '10451115', '1645', '1552', '0615',
       '1440', '1945', '1010', '0845', '1210', '1805', '1141', '1225',
       '1751', '1612', '1245', '1050', '1415', '0945', '0645', '0500',
       '0330', '060008', '0630', '1720', '2000', '1640', '1618', '1110',
       '1750', '07000800', '18151830', '1701', '0957', '0820', '1758',
       '2030', '1519', '1055', '1555', '2300', '1240', '1355', '1605',
       '1410', '1520', '1250', '1445', '1340', '1324', '09000930', '1140',
       '0810', '1556', '1420', '0756', '1717', '1635', '0905', '0715',
       '0720', '1928', '1238', '0550', '1550', '1105', '0545', '1325',
       '1220', '1326', '0911', '1215', '1315', '1820', '1535', '1351',
       '0805', '1915', '1035', '1544', '2100', '0935', '1027', '1016',
       '0920', '10001100', '1205', '1421', '1850', '1553', '11115',
       '1342', '2015', '1239', '0705', '1305', '1150', '1755', '2230',
       '1715', '1610', '0610', '1615', '05000800', '0708', '17001740',
       '0300', '1202', '1255', '1614', '1711', '0030', '1437', '1007',
       '1353', '1155', '1323', '0230', '0840', '1156', '1435', '0750',
       '1425', '13345', '0647', '09001000', '2045', '1840', '1314',
       '1306', '1234', '1153', '804', '1246', '1248', '1742', '1235',
       '20000821', '1157', '1740', '1125', '1825', '1028', '0915', '1416',
       '0955', '2', '1505', '1148', '11001130', '0719', '1337', '1106',
       '1158', '1151', '1812', '0710', '0740', '1233', '3019920708',
       '1506', '1254', '06000720', '1655', '0540', '2130', '0857', '0835',
       '1022', '0245', '1037', '1810', '0855', '16301800', '0650', '0100',
       '0732', '15001545', '19002000', '12451345', '03450400', '1310',
       '09301530', '08000930', '1935', '12001400', '1335', '0132',
       '10301330', '1623', '10001400', '1910', '1625', '18152130',
       '11001200', '1101', '0310', '1955', '0130', '0530', '0858',
       '06000700', '0150', '17001800'], dtype=object)

In [214]:
def limpiar_time2(x):
    try:
        return ''.join(x[0:4])
    except:
        return str(x)

In [215]:
sk['time']=sk.time.apply(limpiar_time2)

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,1800
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,1400
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,0745
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,

In [216]:
sk['time'].unique()

array(['1800', '1400', '0745', '', '1700', '1500', '0815', '1100', '1030',
       '1040', '1650', '0700', '0930', '2150', '0940', '0800', '1735',
       '1530', '0730', '1900', '1600', '1501', '1200', '1345', '2330',
       '0900', '1430', '1830', '1230', '1630', '1845', '0600', '1000',
       '1044', '1319', '1330', '1045', '1120', '1145', '1930', '0830',
       '1545', '1734', '1710', '1115', '0850', '1745', '1300', '1020',
       '1320', '0200', '0950', '1130', '1730', '900', '1043', '1515',
       '1540', '1905', '2200', '1620', '1434', '1525', '1455', '1746',
       '1549', '1015', '1815', '0400', '1450', '1350', '1920', '1025',
       '1645', '1552', '0615', '1440', '1945', '1010', '0845', '1210',
       '1805', '1141', '1225', '1751', '1612', '1245', '1050', '1415',
       '0945', '0645', '0500', '0330', '0630', '1720', '2000', '1640',
       '1618', '1110', '1750', '1701', '0957', '0820', '1758', '2030',
       '1519', '1055', '1555', '2300', '1240', '1355', '1605', '1410',
       '1520', '1250', '1445', '1340', '1324', '1140', '0810', '1556',
       '1420', '0756', '1717', '1635', '0905', '0715', '0720', '1928',
       '1238', '0550', '1550', '1105', '0545', '1325', '1220', '1326',
       '0911', '1215', '1315', '1820', '1535', '1351', '0805', '1915',
       '1035', '1544', '2100', '0935', '1027', '1016', '0920', '1205',
       '1421', '1850', '1553', '1111', '1342', '2015', '1239', '0705',
       '1305', '1150', '1755', '2230', '1715', '1610', '0610', '1615',
       '0708', '0300', '1202', '1255', '1614', '1711', '0030', '1437',
       '1007', '1353', '1155', '1323', '0230', '0840', '1156', '1435',
       '0750', '1425', '1334', '0647', '2045', '1840', '1314', '1306',
       '1234', '1153', '804', '1246', '1248', '1742', '1235', '1157',
       '1740', '1125', '1825', '1028', '0915', '1416', '0955', '2',
       '1505', '1148', '0719', '1337', '1106', '1158', '1151', '1812',
       '0710', '0740', '1233', '3019', '1506', '1254', '1655', '0540',
       '2130', '0857', '0835', '1022', '0245', '1037', '1810', '0855',
       '0650', '0100', '0732', '0345', '1310', '1935', '1335', '0132',
       '1623', '1910', '1625', '1101', '0310', '1955', '0130', '0530',
       '0858', '0150'], dtype=object)

In [217]:
def limpiar_time3(x):
    try:
        return f"{x[:2]}:{x[2:]}"
    except:
        return str(x)

In [218]:
sk['time']=sk.time.apply(limpiar_time3)

sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11.0,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,:
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,:

In [219]:
sk.time.replace(':', '',inplace=True)

In [220]:
sk.time.head()

0    18:00
1    14:00
2    07:45
3
4
Name: time, dtype: object

In [221]:
sk.Time.unique()

array(['18h00', '14h00  -15h00', '07h45', 'unknown', 'Late afternoon',
       '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30',
       '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40',
       '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night',
       '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30',
       '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10',
       '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00',
       '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15',
       '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [222]:
afternoon_index=sk[sk.Time.str.contains('afternoon' or 'Afternoon')].index

In [223]:
sk.at[afternoon_index, 'time'] = '17:00'

In [224]:
sk[sk.Time.str.contains('afternoon' or 'Afternoon')].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18.0,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,6297.0,17:00
51,2018.01.12,12-Jan-2018,2018.0,Unprovoked,BRAZIL,Fernando de Noronha,Conceicao Beach,Surfing,Ricardo Ferrari Bulhoes,M,20.0,Minor injury to left forearm,N,Late afternoon,small shark,TrackingSharks.com,2018.01.12-Bulhoes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-01-12,2018-01-12,6252.0,17:00
61,2017.11.18,18-Nov-2017,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,14.0,Heel bitten,N,Late afternoon,unknown,"Florida Today, 11/21/2017",2017.11.18-Anderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017-11-18,2017-11-18,6242.0,17:00
222,2016.09.05.b,05-Sep-2016,2016.0,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12.0,Lacerations & punctures to lower right leg,N,Late afternoon,unknown,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,6081.0,17:00
223,2016.09.05.a,05-Sep-2016,2016.0,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,unknown,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,6080.0,17:00

In [225]:
morning_index=sk[sk.Time.str.contains('morning' or 'Morning')].index

In [226]:
sk.at[morning_index, 'time'] = '10:00'

In [227]:
sk[sk.Time.str.contains('morning' or 'Morning')].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
830,2011.12.26.R,Reported 26-Dec-2011,2011.0,Invalid,ANTIGUA,St John's,Fort James Beach,Swimming,"Veron Edwards, Sr.",M,NaN,Bitten on right hand & wrist,NaN,Early morning,Shark involvement not confirmed,"D. Francis, Caribarena, 12/26/2011",2011.12.26.R-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,5473.0,10:00
1144,2009.03.19.b,19-Mar-2009,2009.0,Unprovoked,AUSTRALIA,New South Wales,South Broulee,Surfing,male,M,NaN,"No injury, shark damaged surfboard",N,Early morning,unknown,"ABC News, 3/19/2009",2009.03.19.b-SouthBroulee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,5159.0,10:00
1256,2008.05.24.a,24-May-2008,2008.0,Unprovoked,MEXICO,Guerro,Playa Linda,Surfing,Bruce Grimes,M,49.0,Lacerations to right forearm and hand,N,Early morning,3 m shark,Associated Press,2008.05.24.a-Grimes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,5047.0,10:00
1322,2007.09.30.a,30-Sep-2007,2007.0,Unprovoked,NEW CALEDONIA,Loyalty Islands,"Bay of Luengoni, Lifou Island",Swimming,StÃ©phanie Belliard,F,23.0,FATAL,Y,Early morning,Tiger shark,"Les Nouvelles Caledoniennes, 10/1/2007",2007.09.30.a-Belliard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,4981.0,10:00
1331,2007.09.16.a,16-Sep-2007,2007.0,Unprovoked,USA,Florida,"Flagler Beach, Flagler County",Surfing,Jessica Riley,F,NaN,"No injury, surfboard bitten",N,Early morning,9.5' shark?,wsbtv.com,2007.09.16.a-Riley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaT,NaT,4972.0,10:00

In [228]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3369 non-null   float64
 11  Injury                  6274 non-null   object
 12  Fatal                   5763 non-null   object
 13  Time                    8703 non-null   object
 14  Species                 8703 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           3815 non-null   datetime64[ns]
 20  Case Number.2           3813 non-null   datetime64[ns]
 21  original order          6309 non-null   float64
 22  time                    8703 non-null   object
dtypes: datetime64[ns](2), float64(3), object(18)
memory usage: 10.6 MB

In [229]:
sk.time.unique()

array(['18:00', '14:00', '07:45', '', '17:00', '15:00', '08:15', '11:00',
       '10:30', '10:40', '16:50', '07:00', '09:30', '21:50', '09:40',
       '08:00', '17:35', '15:30', '07:30', '19:00', '16:00', '15:01',
       '12:00', '13:45', '23:30', '09:00', '14:30', '18:30', '12:30',
       '16:30', '18:45', '06:00', '10:00', '10:44', '13:19', '13:30',
       '10:45', '11:20', '11:45', '19:30', '08:30', '15:45', '17:34',
       '17:10', '11:15', '08:50', '17:45', '13:00', '10:20', '13:20',
       '02:00', '09:50', '11:30', '17:30', '90:0', '10:43', '15:15',
       '15:40', '19:05', '22:00', '16:20', '14:34', '15:25', '14:55',
       '17:46', '15:49', '10:15', '18:15', '04:00', '14:50', '13:50',
       '19:20', '10:25', '16:45', '15:52', '06:15', '14:40', '19:45',
       '10:10', '08:45', '12:10', '18:05', '11:41', '12:25', '17:51',
       '16:12', '12:45', '10:50', '14:15', '09:45', '06:45', '05:00',
       '03:30', '06:30', '17:20', '20:00', '16:40', '16:18', '11:10',
       '17:50', '17:01', '09:57', '08:20', '17:58', '20:30', '15:19',
       '10:55', '15:55', '23:00', '12:40', '13:55', '16:05', '14:10',
       '15:20', '12:50', '14:45', '13:40', '13:24', '11:40', '08:10',
       '15:56', '14:20', '07:56', '17:17', '16:35', '09:05', '07:15',
       '07:20', '19:28', '12:38', '05:50', '15:50', '11:05', '05:45',
       '13:25', '12:20', '13:26', '09:11', '12:15', '13:15', '18:20',
       '15:35', '13:51', '08:05', '19:15', '10:35', '15:44', '21:00',
       '09:35', '10:27', '10:16', '09:20', '12:05', '14:21', '18:50',
       '15:53', '11:11', '13:42', '20:15', '12:39', '07:05', '13:05',
       '11:50', '17:55', '22:30', '17:15', '16:10', '06:10', '16:15',
       '07:08', '03:00', '12:02', '12:55', '16:14', '17:11', '00:30',
       '14:37', '10:07', '13:53', '11:55', '13:23', '02:30', '08:40',
       '11:56', '14:35', '07:50', '14:25', '13:34', '06:47', '20:45',
       '18:40', '13:14', '13:06', '12:34', '11:53', '80:4', '12:46',
       '12:48', '17:42', '12:35', '11:57', '17:40', '11:25', '18:25',
       '10:28', '09:15', '14:16', '09:55', '2:', '15:05', '11:48',
       '07:19', '13:37', '11:06', '11:58', '11:51', '18:12', '07:10',
       '07:40', '12:33', '30:19', '15:06', '12:54', '16:55', '05:40',
       '21:30', '08:57', '08:35', '10:22', '02:45', '10:37', '18:10',
       '08:55', '06:50', '01:00', '07:32', '03:45', '13:10', '19:35',
       '13:35', '01:32', '16:23', '19:10', '16:25', '11:01', '03:10',
       '19:55', '01:30', '05:30', '08:58', '01:50'], dtype=object)

In [230]:
reemplazar=['2:','80:4','90:0','']

In [231]:
sk.time.replace(reemplazar, 'unknown', inplace=True)

In [232]:
sk.time.unique()

array(['18:00', '14:00', '07:45', 'unknown', '17:00', '15:00', '08:15',
       '11:00', '10:30', '10:40', '16:50', '07:00', '09:30', '21:50',
       '09:40', '08:00', '17:35', '15:30', '07:30', '19:00', '16:00',
       '15:01', '12:00', '13:45', '23:30', '09:00', '14:30', '18:30',
       '12:30', '16:30', '18:45', '06:00', '10:00', '10:44', '13:19',
       '13:30', '10:45', '11:20', '11:45', '19:30', '08:30', '15:45',
       '17:34', '17:10', '11:15', '08:50', '17:45', '13:00', '10:20',
       '13:20', '02:00', '09:50', '11:30', '17:30', '10:43', '15:15',
       '15:40', '19:05', '22:00', '16:20', '14:34', '15:25', '14:55',
       '17:46', '15:49', '10:15', '18:15', '04:00', '14:50', '13:50',
       '19:20', '10:25', '16:45', '15:52', '06:15', '14:40', '19:45',
       '10:10', '08:45', '12:10', '18:05', '11:41', '12:25', '17:51',
       '16:12', '12:45', '10:50', '14:15', '09:45', '06:45', '05:00',
       '03:30', '06:30', '17:20', '20:00', '16:40', '16:18', '11:10',
       '17:50', '17:01', '09:57', '08:20', '17:58', '20:30', '15:19',
       '10:55', '15:55', '23:00', '12:40', '13:55', '16:05', '14:10',
       '15:20', '12:50', '14:45', '13:40', '13:24', '11:40', '08:10',
       '15:56', '14:20', '07:56', '17:17', '16:35', '09:05', '07:15',
       '07:20', '19:28', '12:38', '05:50', '15:50', '11:05', '05:45',
       '13:25', '12:20', '13:26', '09:11', '12:15', '13:15', '18:20',
       '15:35', '13:51', '08:05', '19:15', '10:35', '15:44', '21:00',
       '09:35', '10:27', '10:16', '09:20', '12:05', '14:21', '18:50',
       '15:53', '11:11', '13:42', '20:15', '12:39', '07:05', '13:05',
       '11:50', '17:55', '22:30', '17:15', '16:10', '06:10', '16:15',
       '07:08', '03:00', '12:02', '12:55', '16:14', '17:11', '00:30',
       '14:37', '10:07', '13:53', '11:55', '13:23', '02:30', '08:40',
       '11:56', '14:35', '07:50', '14:25', '13:34', '06:47', '20:45',
       '18:40', '13:14', '13:06', '12:34', '11:53', '12:46', '12:48',
       '17:42', '12:35', '11:57', '17:40', '11:25', '18:25', '10:28',
       '09:15', '14:16', '09:55', '15:05', '11:48', '07:19', '13:37',
       '11:06', '11:58', '11:51', '18:12', '07:10', '07:40', '12:33',
       '30:19', '15:06', '12:54', '16:55', '05:40', '21:30', '08:57',
       '08:35', '10:22', '02:45', '10:37', '18:10', '08:55', '06:50',
       '01:00', '07:32', '03:45', '13:10', '19:35', '13:35', '01:32',
       '16:23', '19:10', '16:25', '11:01', '03:10', '19:55', '01:30',
       '05:30', '08:58', '01:50'], dtype=object)

In [233]:
sk.drop(columns='Time',inplace=True)

In [234]:
sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,2018-06-25,6303.0,18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11.0,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,2018-06-18,6302.0,14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48.0,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,2018-06-09,6301.0,07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,2018-06-08,6300.0,unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,2018-06-04,6299.0,unknown

Convertir los NaN de las columnas objeto a 'unknown':

In [235]:
str_cols = ['Case Number', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Injury', 'Fatal', 'Species', 'Investigator or Source',
       'pdf', 'href formula', 'href']
str_cols

['Case Number',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Injury',
 'Fatal',
 'Species',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href']

In [236]:
sk[str_cols] = sk[str_cols].fillna('unknown')

Columnas repetidas:

In [237]:
#sk['href formula']==sk['href'] esta formula da True

In [238]:
sk.drop(columns='href formula', inplace=True)

In [239]:
sk.shape

(8703, 21)

In [240]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Age               61.289211
Case Number.2     56.187522
Case Number.1     56.164541
Year              27.611169
Date              27.588188
original order    27.507756
dtype: float64

Eliminar columnas que no aportan valor (Case Number.1,Case Number.2) ya que equivalen a Date:

In [241]:
sk.drop(columns=['Case Number.1', 'Case Number.2'], inplace=True)

In [242]:
sk.shape

(8703, 19)

Convertir NaN de original order en 'unknown':

In [243]:
sk['original order'].fillna('unknown', inplace=True)

In [244]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Age     61.289211
Year    27.611169
Date    27.588188
dtype: float64

Convertir los NaN de Age en la media:

In [245]:
sk.Age.unique()

array([57., 11., 48., nan, 18., 52., 15., 12., 32., 10., 21., 34., 30.,
       60., 33., 29., 54., 41., 37., 56., 19., 25., 69., 38., 55., 35.,
       46., 45., 14., 28., 20., 24., 26., 49., 22.,  7., 31., 17., 40.,
       13., 42.,  3.,  8., 50., 16., 82., 73., 68., 51., 39., 58., 47.,
       61., 65., 36., 66., 43.,  9., 72., 59.,  6., 27., 64., 23., 71.,
       44., 62., 63., 70., 53., 77., 74.,  5., 86., 84., 75., 87., 67.,
        1., 81., 78.])

In [246]:
sk.Age.mean()

27.36835856337192

In [247]:
sk.Age = sk.Age.fillna(27.36).astype(int)

In [248]:
sk.Age.unique()

array([57, 11, 48, 27, 18, 52, 15, 12, 32, 10, 21, 34, 30, 60, 33, 29, 54,
       41, 37, 56, 19, 25, 69, 38, 55, 35, 46, 45, 14, 28, 20, 24, 26, 49,
       22,  7, 31, 17, 40, 13, 42,  3,  8, 50, 16, 82, 73, 68, 51, 39, 58,
       47, 61, 65, 36, 66, 43,  9, 72, 59,  6, 64, 23, 71, 44, 62, 63, 70,
       53, 77, 74,  5, 86, 84, 75, 87, 67,  1, 81, 78])

In [249]:
sk['Age'] = pd.to_numeric(sk['Age'], errors='coerce',downcast='integer')

In [250]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8703 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    8703 non-null   object
 4   Country                 8703 non-null   object
 5   Area                    8703 non-null   object
 6   Location                8703 non-null   object
 7   Activity                8703 non-null   object
 8   Name                    8703 non-null   object
 9   Sex                     8703 non-null   object
 10  Age                     8703 non-null   int8
 11  Injury                  8703 non-null   object
 12  Fatal                   8703 non-null   object
 13  Species                 8703 non-null   object
 14  Investigator or Source  8703 non-null   object
 15  pdf                     8703 non-null   object
 16  href                    8703 non-null   object
 17  original order          8703 non-null   object
 18  time                    8703 non-null   object
dtypes: float64(1), int8(1), object(17)
memory usage: 10.2 MB

In [251]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Year    27.611169
Date    27.588188
dtype: float64

Vamos a ver si tenemos los mismos nulos en Date y en Year:

In [252]:
null_date=np.where(sk['Date'].isnull())[0]

In [253]:
null_year=np.where(sk['Year'].isnull())[0]

In [254]:
null_date==null_year

False

Ya que no tienen los mismos nulos, vamos a investigar quÃ© contenido tienen

In [255]:
sk.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href,original order,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,27,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,27,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,unknown

In [256]:
sk.Year.unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

Ya que case number y Date tienen la misma informaciÃ³n, vamos a convertir case number a datetime y eliminar Date.

In [257]:
sk=sk.rename(columns = {'Case Number':'date'})

In [258]:
def limpiar_date(x):
    try:
        return ''.join(filter(str.isdigit, x))
    except:
        return str(x)

In [259]:
def limpiar_date2(x):
    try:
        return f"{x[:4]}-{x[4:6]}-{x[6:]}"
    except:
        return str(x)

In [260]:
sk['date']=sk.date.apply(limpiar_date)

sk.head()

,date,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href,original order,time
0,20180625,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,18:00
1,20180618,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,14:00
2,20180609,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,07:45
3,20180608,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,27,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,unknown
4,20180604,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,27,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,unknown

In [261]:
sk['date']=sk.date.apply(limpiar_date2)

sk.head()

,date,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href,original order,time
0,2018-06-25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,18:00
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,14:00
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,07:45
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,27,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,unknown
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,27,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,unknown

In [262]:
sk.date.value_counts()

0--           2400
1950-00-00      13
1957-00-00      11
1942-00-00      11
1960-00-00      10
              ...
1994-05-15       1
1994-05-23       1
1994-05-24       1
1994-05-28       1
1975-11-07       1
Name: date, Length: 5334, dtype: int64

In [263]:
sk.date.replace('0--', 'unknown', inplace=True)

In [264]:
sk.date.value_counts()

unknown       2400
1950-00-00      13
1957-00-00      11
1942-00-00      11
1960-00-00      10
              ...
1994-05-15       1
1994-05-23       1
1994-05-24       1
1994-05-28       1
1975-11-07       1
Name: date, Length: 5334, dtype: int64

In [265]:
sk.head()

,date,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href,original order,time
0,2018-06-25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,18:00
1,2018-06-18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,14:00
2,2018-06-09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,07:45
3,2018-06-08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,27,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,unknown
4,2018-06-04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,27,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,unknown

In [266]:
sk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    8703 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    8703 non-null   object
 4   Country                 8703 non-null   object
 5   Area                    8703 non-null   object
 6   Location                8703 non-null   object
 7   Activity                8703 non-null   object
 8   Name                    8703 non-null   object
 9   Sex                     8703 non-null   object
 10  Age                     8703 non-null   int8
 11  Injury                  8703 non-null   object
 12  Fatal                   8703 non-null   object
 13  Species                 8703 non-null   object
 14  Investigator or Source  8703 non-null   object
 15  pdf                     8703 non-null   object
 16  href                    8703 non-null   object
 17  original order          8703 non-null   object
 18  time                    8703 non-null   object
dtypes: float64(1), int8(1), object(17)
memory usage: 10.2 MB

In [267]:
pd.to_numeric(sk.Year, errors='coerce',downcast='integer')

0        2018.0
1        2018.0
2        2018.0
3        2018.0
4        2018.0
          ...
8698        NaN
8699        NaN
8700        NaN
8701        NaN
25722       NaN
Name: Year, Length: 8703, dtype: float64

In [268]:
sk.Year.fillna('unknown', inplace=True)

In [269]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Date    27.588188
dtype: float64

In [270]:
sk.drop(columns='Date',inplace=True)

In [271]:
nan_cols=sk.isna().mean() * 100  # porcentaje de nulos por columna

pepe= nan_cols[nan_cols>0].sort_values(ascending=False)

pepe

Series([], dtype: float64)

Hemos eliminado TODOS los valores nulos.

Ahora, vamos a analizar los valores de las columnas y dejarlos homogÃ©neos.

In [272]:
sk.Sex.value_counts()

M          5094
unknown    2966
F           637
M             2
N             2
lli           1
.             1
Name: Sex, dtype: int64

In [273]:
sk.Sex.replace({'lli': 'unknown','.':'unknown','N':'unknown','M ':'M'}, inplace=True)

In [274]:
sk.Sex.value_counts()

M          5096
unknown    2970
F           637
Name: Sex, dtype: int64

In [275]:
sk.Type.value_counts().unique

<bound method Series.unique of Unprovoked      4595
unknown         2405
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64>

In [276]:
sk.Type.replace({'Boatomg':'Boating','Boat':'Boating','Questionable':'Invalid'}, inplace=True)

In [277]:
sk.Type.value_counts().unique

<bound method Series.unique of Unprovoked      4595
unknown         2405
Provoked         574
Invalid          549
Boating          341
Sea Disaster     239
Name: Type, dtype: int64>

In [278]:
sk.Species.value_counts()

unknown                                                                                                                          5239
White shark                                                                                                                       163
Shark involvement prior to death was not confirmed                                                                                105
Invalid                                                                                                                           102
Shark involvement not confirmed                                                                                                    88
                                                                                                                                 ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                   1
Bull shark, 2.3 m [7.5']                                                                                                            1
0.9 m  [3'] shark                                                                                                                   1
Mako shark, 14'                                                                                                                     1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: Species, Length: 1550, dtype: int64

In [279]:
sk.Species.replace({'Shark involvement prior to death was not confirmed':'Invalid','Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable':'Invalid','Shark involvement not confirmed':'Invalid'}, inplace=True)

In [280]:
sk.Species.value_counts()

unknown                                         5239
Invalid                                          296
White shark                                      163
Tiger shark                                       73
Shark involvement prior to death unconfirmed      68
                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                  1
Bull shark, 2.3 m [7.5']                           1
0.9 m  [3'] shark                                  1
Mako shark, 14'                                    1
Blue pointers                                      1
Name: Species, Length: 1547, dtype: int64

In [281]:
sk.Species.replace({'Shark involvement prior to death unconfirmed':'unknown','Invalid':'unknown','Blue pointers':'Mako shark'}, inplace=True)

In [282]:
sk.Species.unique()

array(['White shark', 'unknown', '2 m shark', ...,
       "Bull shark caught, leg recovered & buried beside the man's body",
       '"a black-tipped shark"', "12' tiger shark"], dtype=object)

In [283]:
sk.Species.replace({"Bull shark caught, leg recovered & buried beside the man's body":'Bull shark','a black-tipped shark':'Blacktip shark'}, inplace=True)

In [284]:
sk.Species.value_counts()

unknown                      5603
White shark                   163
Tiger shark                    73
Bull shark                     53
4' shark                       40
                             ...
Bull shark, 2.3 m [7.5']        1
0.9 m  [3'] shark               1
Mako shark, 14'                 1
1.9 m [6.5'] bull shark         1
12' tiger shark                 1
Name: Species, Length: 1543, dtype: int64

In [285]:
sk.Species.replace({"4' shark":'unknown',"0.9 m  [3'] shark":'unknown',"Mako shark, 14'":'Mako shark',"1.9 m [6.5'] bull shark":'Bull shark',"12' tiger shark":'Tiger shark',"Bull shark, 2.3 m [7.5']":'Bull shark'}, inplace=True)

In [286]:
sk.Species.value_counts()

unknown                              5644
White shark                           163
Tiger shark                            74
Bull shark                             54
6' shark                               40
                                     ...
1.2 m to 1.5 m [4.5' to 5'] shark       1
Bull shark, 2.3 m [7.5']                1
Mako shark, 14'                         1
Blacktip shark, 5' to 6'                1
"a black-tipped shark"                  1
Name: Species, Length: 1539, dtype: int64

In [287]:
sk.Species.replace({"6' shark":'unknown',"1.2 m to 1.5 m [4.5' to 5'] shark":'unknown',"Bull shark, 2.3 m [7.5']":'Bull shark',"Mako shark, 14'":'Mako shark',"Blacktip shark, 5' to 6'":'Blacktip shark', '''"a black-tipped shark"''':'Blacktip shark'}, inplace=True)

In [288]:
pd.set_option('display.max_rows',25)

In [289]:
sk.Species.unique()

array(['White shark', 'unknown', '2 m shark', ..., '"A pack of sharks"',
       "White shark, 7' to 8'", 'White shark, 1,900-lb '], dtype=object)

In [290]:
sk.Species.replace({'''"A pack of sharks"''':'unknown',"White shark, 7' to 8'":'White shark','White shark, 1,900-lb ':'White shark','2 m shark':'unknown'}, inplace=True)

In [291]:
sk.Species.unique()

array(['White shark', 'unknown', 'Tiger shark, 3m', ...,
       'A large hammerhead shark', "Nurse shark, 2.1 m [7'] ",
       'Shovelnose guitarfish, adult male '], dtype=object)

In [292]:
sk.Species.replace({'Tiger shark, 3m':'Tiger shark','A large hammerhead shark':'Hammerhead shark',"Nurse shark, 2.1 m [7'] ":'Nurse shark'}, inplace=True)

In [293]:
sk.Species.value_counts()

unknown                                            5711
White shark                                         165
Tiger shark                                          76
Bull shark                                           54
Questionable incident                                35
                                                   ...
Mako shark, 14'                                       1
Blacktip shark, 5' to 6'                              1
3' shark, possibly  a blacktip or spinner shark       1
Possibly  a blacktip or spinner shark                 1
Shovelnose guitarfish, adult male                     1
Name: Species, Length: 1528, dtype: int64

In [294]:
sk[sk.Species.str.contains('Questionable incident')].index

Int64Index([1900, 2539, 2542, 2564, 2571, 2611, 2764, 2938, 2946, 2968, 3164,
            3207, 3325, 3329, 3441, 3445, 3450, 3490, 3491, 3493, 3523, 3618,
            3648, 3810, 3925, 3958, 3998, 4063, 4067, 4098, 4133, 4313, 4779,
            4780, 4781, 4782, 4824, 5965],
           dtype='int64')

In [295]:
sk.Species.replace({'Questionable incident':'unknown',"Mako shark, 14'":'Mako shark',"Blacktip shark, 5' to 6'":'Blacktip shark',"3' shark, possibly  a blacktip or spinner shark":'Blacktip shark'}, inplace=True)

In [296]:
sk.Species.value_counts()

unknown                                  5746
White shark                               165
Tiger shark                                76
Bull shark                                 54
1.8 m [6'] shark                           35
                                         ...
Bull shark, 2.3 m [7.5']                    1
Mako shark, 14'                             1
Blacktip shark, 5' to 6'                    1
Possibly  a blacktip or spinner shark       1
Shovelnose guitarfish, adult male           1
Name: Species, Length: 1526, dtype: int64

In [297]:
species_question=sk[sk.Species.str.contains('Questionable incident')].index

In [298]:
sk.at[species_question, 'Species'] = 'unknown'

In [299]:
species_mako=sk[sk.Species.str.contains('Mako shark')].index

In [300]:
sk.at[species_mako, 'Species'] = 'Mako shark'

In [301]:
sk.Species.value_counts()

unknown                                   5749
White shark                                165
Tiger shark                                 76
Bull shark                                  54
Mako shark                                  45
                                          ...
White shark, 2.7 m to 3 m [9' to 10']        1
Bull shark, 2.3 m [7.5']                     1
Blacktip shark, 5' to 6'                     1
Possibly  a blacktip or spinner shark        1
Shovelnose guitarfish, adult male            1
Name: Species, Length: 1495, dtype: int64

In [302]:
species_white=sk[sk.Species.str.contains('White shark' or 'white')].index

In [303]:
sk.at[species_white, 'Species'] = 'White shark'

In [304]:
species_tiger=sk[sk.Species.str.contains('Tiger shark' or 'tiger shark' or 'tiger' or 'Tiger')].index

In [305]:
sk.at[species_tiger, 'Species'] = 'Tiger shark'

In [306]:
species_bull=sk[sk.Species.str.contains('Bull shark' or 'bull shark' or 'bull')].index

In [307]:
sk.at[species_bull, 'Species'] = 'Bull shark'

In [308]:
sk.Species.value_counts()

unknown                                                          5749
White shark                                                       436
Tiger shark                                                       238
Bull shark                                                        131
Mako shark                                                         45
                                                                 ...
Shark involvement  questionable                                     1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']                      1
Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks       1
Thought to involve a white, bull or tiger shark                     1
Shovelnose guitarfish, adult male                                   1
Name: Species, Length: 1142, dtype: int64

In [309]:
species_guitar=sk[sk.Species.str.contains('Shovelnose' or 'shovelnose')].index
species_guitar

Int64Index([4871, 5653, 6230], dtype='int64')

In [310]:
sk.drop(species_guitar,inplace=True)

In [311]:
sk.Species.value_counts()

unknown                                                          5749
White shark                                                       436
Tiger shark                                                       238
Bull shark                                                        131
Mako shark                                                         45
                                                                 ...
Shark involvement  questionable                                     1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']                      1
Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks       1
Thought to involve a white, bull or tiger shark                     1
Silvertip shark                                                     1
Name: Species, Length: 1139, dtype: int64

In [312]:
species_black=sk[sk.Species.str.contains('Blacktip shark' or 'Blacktip' or 'Black-tip' or 'Black tip' or 'blacktip')].index

In [313]:
sk.at[species_black, 'Species'] = 'Blacktip shark'

In [314]:
species_nurse=sk[sk.Species.str.contains('Nurse' or 'nurse')].index

In [315]:
sk.at[species_nurse, 'Species'] = 'Nurse shark'

In [316]:
sk.Species.value_counts()[7:]

1.8 m [6'] shark                                  35
Questionable                                      34
1.5 m [5'] shark                                  32
1.2 m [4'] shark                                  27
3' shark                                          26
                                                  ..
2.7 m [9']  bull shark or Caribbean reef shark     1
Grey reef shark, 1.5 m                             1
3 bull sharks                                      1
Sevengill shark, 2.4 m [8']                        1
Silvertip shark                                    1
Name: Species, Length: 1088, dtype: int64

In [317]:
sk.Species.value_counts()

unknown                                           5749
White shark                                        436
Tiger shark                                        238
Bull shark                                         131
Nurse shark                                         49
                                                  ...
2.7 m [9']  bull shark or Caribbean reef shark       1
Grey reef shark, 1.5 m                               1
3 bull sharks                                        1
Sevengill shark, 2.4 m [8']                          1
Silvertip shark                                      1
Name: Species, Length: 1095, dtype: int64

In [318]:
species_bull2=sk[sk.Species.str.contains('Bull shark' or 'bull shark' or 'bull')].index

In [319]:
species_bull2

Int64Index([   8,   33,   42,   47,   48,  121,  128,  129,  166,  172,
            ...
            4718, 4818, 5441, 5524, 5814, 6225, 6242, 6243, 6253, 6265],
           dtype='int64', length=131)

In [320]:
sk.at[species_bull2, 'Species'] = 'Bull shark'

In [321]:
sk.Species.value_counts()

unknown                                           5749
White shark                                        436
Tiger shark                                        238
Bull shark                                         131
Nurse shark                                         49
                                                  ...
2.7 m [9']  bull shark or Caribbean reef shark       1
Grey reef shark, 1.5 m                               1
3 bull sharks                                        1
Sevengill shark, 2.4 m [8']                          1
Silvertip shark                                      1
Name: Species, Length: 1095, dtype: int64

In [322]:
species_quest=sk[sk.Species.str.contains('Questionable' or 'Invalid' or 'questionable' or 'invalid')].index

In [323]:
sk.at[species_quest, 'Species'] = 'unknown'

In [324]:
sk.Species.value_counts()[7:]

1.8 m [6'] shark                                  35
1.5 m [5'] shark                                  32
1.2 m [4'] shark                                  27
3' shark                                          26
5' shark                                          26
                                                  ..
2.7 m [9']  bull shark or Caribbean reef shark     1
Grey reef shark, 1.5 m                             1
3 bull sharks                                      1
Sevengill shark, 2.4 m [8']                        1
Silvertip shark                                    1
Name: Species, Length: 1085, dtype: int64

In [325]:
sk.Species.replace({"1.8 m [6'] shark":'unknown',"1.5 m [5'] shark":'unknown',"1.2 m [4'] shark":'unknown',"3' shark":'unknown',"5' shark":'unknown'}, inplace=True)

In [326]:
sk.Species.value_counts()[7:]

4' to 5' shark                                    24
3 m [10'] shark                                   22
Wobbegong shark                                   21
No shark involvement                              21
3' to 4' shark                                    18
                                                  ..
2.7 m [9']  bull shark or Caribbean reef shark     1
Grey reef shark, 1.5 m                             1
3 bull sharks                                      1
Sevengill shark, 2.4 m [8']                        1
Silvertip shark                                    1
Name: Species, Length: 1080, dtype: int64

In [327]:
sk.Species.replace({"4' to 5' shark":'unknown',"3' to 4' shark":'unknown',"3 m [10'] shark":'unknown'}, inplace=True)

In [328]:
sk.Species.value_counts()[7:]

No shark involvement                              21
Wobbegong shark                                   21
3 m shark                                         17
2.4 m [8'] shark                                  16
3.7 m [12'] shark                                 15
                                                  ..
2.7 m [9']  bull shark or Caribbean reef shark     1
Grey reef shark, 1.5 m                             1
3 bull sharks                                      1
Sevengill shark, 2.4 m [8']                        1
Silvertip shark                                    1
Name: Species, Length: 1077, dtype: int64

In [329]:
species_wo=sk[sk.Species.str.contains('Wobbegong' or 'wobbegong')].index

In [330]:
sk.at[species_wo, 'Species'] = 'Wobbegong shark'

In [331]:
sk.Species.value_counts()[6:]

Mako shark                      45
Blacktip shark                  36
No shark involvement            21
3 m shark                       17
2.4 m [8'] shark                16
                                ..
Grey reef shark, 1.5 m           1
3 bull sharks                    1
Sevengill shark, 2.4 m [8']      1
200 to 300 kg shark              1
Silvertip shark                  1
Name: Species, Length: 1054, dtype: int64

In [332]:
species_grey=sk[sk.Species.str.contains('Grey reef' or 'grey reef')].index

In [333]:
sk.at[species_grey, 'Species'] = 'Grey Reef shark'

In [334]:
species_se=sk[sk.Species.str.contains('Sevengill' or 'sevengill')].index

In [335]:
sk.at[species_se, 'Species'] = 'Sevengill shark'

In [336]:
species_sil=sk[sk.Species.str.contains('Silvertip' or 'silvertip')].index

In [337]:
sk.at[species_sil, 'Species'] = 'Silvertip shark'

In [338]:
sk.Species.value_counts()[6:]

Mako shark                                                45
Blacktip shark                                            36
No shark involvement                                      21
3 m shark                                                 17
2.4 m [8'] shark                                          16
                                                          ..
200 to 300 kg shark                                        1
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
Bronze whaler or tiger shark                               1
Possibly a white shark                                     1
Silvertip shark                                            1
Name: Species, Length: 1041, dtype: int64

In [339]:
species_wi=sk[sk.Species.str.contains('white')].index

In [340]:
sk.at[species_wi, 'Species'] = 'White shark'

In [341]:
sk.Species.value_counts()[6:]

Mako shark                                                 45
Blacktip shark                                             36
No shark involvement                                       21
3 m shark                                                  17
2.4 m [8'] shark                                           16
                                                           ..
Lemon shark, 2.1  m to 2.4 m [7' to 8']                     1
0.9 m [3'] shark,  probably a blacktip or spinner shark     1
Shark involvement  questionable                             1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']              1
Silvertip shark                                             1
Name: Species, Length: 898, dtype: int64

In [342]:
species_nosk=sk[sk.Species.str.contains('No shark involvement' or 'no shark involvement' or 'Shark involvement  questionable  ' or 'Shark involvement  questionable' or 'questionable')].index

In [343]:
sk.drop(species_nosk,inplace=True)

In [344]:
sk.Species.value_counts()[6:]

Mako shark                                                 45
Blacktip shark                                             36
3 m shark                                                  17
2.4 m [8'] shark                                           16
3.7 m [12'] shark                                          15
                                                           ..
Lemon shark, 2.1  m to 2.4 m [7' to 8']                     1
0.9 m [3'] shark,  probably a blacktip or spinner shark     1
Shark involvement  questionable                             1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']              1
Silvertip shark                                             1
Name: Species, Length: 897, dtype: int64

In [345]:
sk.Species.replace({"Shark involvement  questionable":'erase'}, inplace=True)

In [346]:
sk.Species.value_counts()[6:]

Mako shark                                                 45
Blacktip shark                                             36
3 m shark                                                  17
2.4 m [8'] shark                                           16
3.7 m [12'] shark                                          15
                                                           ..
Lemon shark, 2.1  m to 2.4 m [7' to 8']                     1
0.9 m [3'] shark,  probably a blacktip or spinner shark     1
erase                                                       1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']              1
Silvertip shark                                             1
Name: Species, Length: 897, dtype: int64

In [347]:
species_nosk=sk[sk.Species.str.contains('erase')].index

In [348]:
sk.drop(species_nosk,inplace=True)

In [349]:
sk.Species.value_counts()[6:]

Mako shark                                                 45
Blacktip shark                                             36
3 m shark                                                  17
2.4 m [8'] shark                                           16
3.7 m [12'] shark                                          15
                                                           ..
1.8 m [6'] grey-colored shark                               1
Lemon shark, 2.1  m to 2.4 m [7' to 8']                     1
0.9 m [3'] shark,  probably a blacktip or spinner shark     1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']              1
Silvertip shark                                             1
Name: Species, Length: 896, dtype: int64

In [350]:
species_lem=sk[sk.Species.str.contains('Lemon' or 'lemon')].index

In [351]:
sk.at[species_lem, 'Species'] = 'Lemon shark'

In [352]:
sk.Species.value_counts()[6:]

Mako shark                                                       45
Blacktip shark                                                   36
Lemon shark                                                      32
3 m shark                                                        17
2.4 m [8'] shark                                                 16
                                                                 ..
Shortfin mako shark, 3 m to 3.4 m [10' to 11']                    1
Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks     1
1.3 to 1.6 m shark                                                1
2.7 m [9']  bull shark or Caribbean reef shark                    1
Silvertip shark                                                   1
Name: Species, Length: 873, dtype: int64

In [353]:
species_mm=sk[sk.Species.str.contains('Mako' or 'mako' or ' mako' or 'mako ' or 'Shortfin mako')].index

In [354]:
sk.at[species_mm, 'Species'] = 'Mako shark'

In [355]:
sk.Species.value_counts()[6:]

Mako shark                                                       45
Blacktip shark                                                   36
Lemon shark                                                      32
3 m shark                                                        17
2.4 m [8'] shark                                                 16
                                                                 ..
Shortfin mako shark, 3 m to 3.4 m [10' to 11']                    1
Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks     1
1.3 to 1.6 m shark                                                1
2.7 m [9']  bull shark or Caribbean reef shark                    1
Silvertip shark                                                   1
Name: Species, Length: 873, dtype: int64

In [356]:
sk.Species.replace({"Shortfin mako shark, 3 m to 3.4 m [10' to 11']":'Mako Shark',"Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks":'Blacktip shark',"1.3 to 1.6 m shark":'unknown',"3 m shark":'unknown',"2.4 m [8'] shark":'unknown',"2.7 m [9']  bull shark or Caribbean reef shark":'Bull shark'}, inplace=True)

In [357]:
sk.Species.value_counts()[10:]

12' shark                                           15
3.7 m [12'] shark                                   15
Blue shark                                          14
1.2 m to 1.5 m [4' to 5'] shark                     14
Shark involvement prior to death not confirmed      13
                                                    ..
Bronze whaler or tiger shark                         1
A "small shark"                                      1
Dusky shark, 12'                                     1
Caribbean reef shark, 1.2 m to 1.5 m [4' to 5']      1
Silvertip shark                                      1
Name: Species, Length: 864, dtype: int64

In [358]:
species_ca=sk[sk.Species.str.contains('Caribbean' or 'caribbean' or 'Caribbean shark' or 'Caribbean reef shark' or 'caribbean reef shark')].index

In [359]:
sk.at[species_ca, 'Species'] = 'Caribbean Reef shark'

In [360]:
sk.Species.value_counts()[11:]

12' shark                                                 15
3.7 m [12'] shark                                         15
Blue shark                                                14
1.2 m to 1.5 m [4' to 5'] shark                           14
7' shark                                                  13
                                                          ..
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
Bronze whaler or tiger shark                               1
A "small shark"                                            1
Dusky shark, 12'                                           1
Silvertip shark                                            1
Name: Species, Length: 850, dtype: int64

In [361]:
species_blue=sk[sk.Species.str.contains('Blue' or 'blue' or 'Blue shark' or 'blue shark')].index

In [362]:
sk.at[species_blue, 'Species'] = 'Blue shark'

In [363]:
sk.Species.value_counts()[12:]

3.7 m [12'] shark                                    15
12' shark                                            15
1.2 m to 1.5 m [4' to 5'] shark                      14
"a small shark"                                      13
1.5 m shark                                          13
                                                     ..
1.2 m [4'] spinner shark                              1
Shark involvement not confirmed & highly unlikely     1
>1.8 m [6'] shark                                     1
3 m [10'], 200-kg [441-lb] bull shark                 1
Silvertip shark                                       1
Name: Species, Length: 825, dtype: int64

In [364]:
sk.Species.replace({"3.7 m [12'] shark":'unknown',"12' shark":'unknown',"1.2 m to 1.5 m [4' to 5'] shark":'unknown','''"a small shark"''':'unknown',"1.5 m shark":'unknown',">1.8 m [6'] shark":'unknown'}, inplace=True)

In [365]:
sk.Species.value_counts()[12:]

Shark involvement prior to death not confirmed            13
7' shark                                                  13
Bronze whaler shark                                       12
Raggedtooth shark                                         12
10' shark                                                 12
                                                          ..
Shortfin mako shark, 3 m to 3.4 m [10' to 11']             1
3 bull sharks                                              1
200 to 300 kg shark                                        1
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
Silvertip shark                                            1
Name: Species, Length: 819, dtype: int64

In [366]:
sk.Species.replace({"7' shark":'unknown',

SyntaxError: unexpected EOF while parsing (47071225.py, line 1)

The copper shark (Carcharhinus brachyurus), bronze whaler, or narrowtooth shark

In [367]:
species_bz=sk[sk.Species.str.contains('copper' or 'Copper' or 'bronze whaler' or 'Bronze Whaler' or 'Bronze whaler' or 'narrowtooth' or 'Narrowtooth' or 'Bronze whaler shark')].index

In [368]:
sk.at[species_bz, 'Species'] = 'Copper shark'

In [369]:
sk.Species.value_counts()[12:]

7' shark                                                  13
Shark involvement prior to death not confirmed            13
Raggedtooth shark                                         12
Bronze whaler shark                                       12
10' shark                                                 12
                                                          ..
Shortfin mako shark, 3 m to 3.4 m [10' to 11']             1
3 bull sharks                                              1
200 to 300 kg shark                                        1
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
Silvertip shark                                            1
Name: Species, Length: 816, dtype: int64

In [370]:
sk.Species.replace({'Bronze whaler shark':'Copper shark'}, inplace=True)

In [371]:
sk.Species.value_counts()[13:]

7' shark                                                  13
Shark involvement prior to death not confirmed            13
Raggedtooth shark                                         12
10' shark                                                 12
Grey nurse shark                                          11
                                                          ..
Shortfin mako shark, 3 m to 3.4 m [10' to 11']             1
3 bull sharks                                              1
200 to 300 kg shark                                        1
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
Silvertip shark                                            1
Name: Species, Length: 814, dtype: int64

The sand tiger shark (Carcharias taurus), gray nurse shark, spotted ragged-tooth shark or blue-nurse sand tiger

In [372]:
sk.Species.replace({'sand tiger shark':'Sand Tiger Shark','Grey nurse shark':'Sand Tiger Shark','Raggedtooth shark':'Sand Tiger Shark','blue-nurse sand tiger':'Sand Tiger Shark','spotted ragged-tooth shark':'Sand Tiger Shark',"7' shark":'unknown',"10' shark":'unknown'}, inplace=True)

In [373]:
sk.Species.value_counts()[13:]

Grey Reef shark                                      15
Shark involvement prior to death not confirmed       13
Zambesi shark                                        11
Hammerhead shark                                     10
1 m shark                                             9
                                                     ..
1.2 m [4'] spinner shark                              1
Shark involvement not confirmed & highly unlikely     1
3 m [10'], 200-kg [441-lb] bull shark                 1
1.3 m [4'3"] shark                                    1
Silvertip shark                                       1
Name: Species, Length: 811, dtype: int64

In [374]:
species_err=sk[sk.Species.str.contains('Shark involvement prior to death not confirmed' or 'Shark involvement not confirmed & highly unlikely ')].index

In [375]:
sk.drop(species_err,inplace=True)

In [376]:
sk.Species.value_counts()[13:]

Grey Reef shark                                      15
Zambesi shark                                        11
Hammerhead shark                                     10
2.1 m [7'] shark                                      9
a small shark                                         9
                                                     ..
1.2 m [4'] spinner shark                              1
Shark involvement not confirmed & highly unlikely     1
3 m [10'], 200-kg [441-lb] bull shark                 1
1.3 m [4'3"] shark                                    1
Silvertip shark                                       1
Name: Species, Length: 810, dtype: int64

In [377]:
sk.Species.unique()

array(['White shark', 'unknown', 'Tiger shark', 'Lemon shark',
       'Bull shark', 'Grey Reef shark', 'Invalid incident',
       'Tawny nurse shark, 2m', 'Juvenile bull shark', 'Wobbegong shark',
       '3.5 m shark', '1.8 m shark', 'Blacktip shark',
       'Possibly a wobbegong',
       'Injury believed caused by an eel, not a shark',
       'Galapagos shark?', '2m shark', 'small shark',
       'Juvenile nurse shark', 'Nurse shark',
       'Some drowned but other may have been killed by blue sharks',
       'Cookiecutter shark', 'Spinner shark, 4 to 5 feet', "8' shark",
       'Death may have been due to drowning', 'Porbeagle, 1.5 m',
       "5' to 6' shark", 'Shark involvement questionable',
       'Possibly a juvenile blacktip shark', 'A small shark',
       "Sandtiger shark  2'", 'Blue shark', '"A small shark"',
       'No shark invovlement ', 'Seven-gill shark',
       '3m shark, probably a smooth hound', "9' shark",
       'Shark involvement highly doubtful',
       'No shark invovlement - it ws a publicity stunt',
       'Caribbean Reef shark', 'a small shark',
       'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark",
       'reef shark, 1m', 'Angel shark', 'dogfish shark',
       'Tawny nurse shark', "3' to 5' shark",
       "Said to involve an 8' shark but more likely damage caused by debris",
       '3+ m shark', 'Mako shark', 'Bronze whaler sharks x 3',
       'Bronze whaler', 'Sandtiger shark', "Reef shark, 5'",
       "Silky shark, 6.5'", "Bronze whaler shark, 6'", 'Galapagos shark',
       "Spinner shark, 7'", "Spinner shark, 5'", 'Hammerhead sp.',
       'juvenile shark', 'Hammerhead shark', 'Hammerhead shark.',
       "4' shark?", "Hammerhead shark. 6' to 7'",
       "Blacktip or spinner shark, 4'",
       "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
       'Bronze whaler shark, 1.5m', 'Shark involvement not cofirmed',
       "6' to 7' shark", 'small nurse shark', '1m to 1.2 m shark',
       '3- to 4-foot shark', 'Blacktip Reef shark ', '3.5 to 4 m shark',
       '2 m to  3 m shark', '5 m shark', 'Raggedtooth shark, 1.3 m',
       'Shark involvement prior to death still to be determined',
       'Shark involvement not confirmed & highly unlikely',
       'Goblin shark', "2' shark", "12' to 14' shark", '1 m shark',
       "8' to 10' shark", 'Spinner shark',
       'Spinner shark or blacktip shark', "4' to 6' shark", 'reef shark',
       "4' tp 5' shark", 'Possibly juvenile tiger shark',
       '1.8 metre shark', "6' to 8' shark", " Sandbar shark, 3' to 4'",
       '3m shark', ' Tawney nurse shark, 1m', 'Cow shark', 'reef shark?',
       ' Raggedtooth shark, 2m', 'Blacktip or spinner shark?',
       'Blacktip reef shark ', '7-gill shark?', '1m shark',
       '7-gill shark', 'Reported to involve a bull shark',
       'Blacktip reef shark, 1m', 'Thought to involve a bull shark',
       "Whitetip reef shark, 4' to 6'", 'Small bull shark',
       'Salmon shark', 'Grey nurse shark, 3m',
       'Possibly a blacktip reef shark',
       'shark involvement not confirmed', 'Raggedtooth shark, 1.5 m',
       'Bronze whaler shark, 2.5m', '"small sharks"',
       'Bronze whaler shark, 3m', '2.5 m shark', "2' to 3' shark",
       'Possibly a 3 m bull shark', "3.5' to 4' shark",
       "Porbeagle shark, 7'", '4.5 m shark',
       'Salmon shark suspected, but unlikely', "14' to 18'shark",
       "15' shark", 'possibly a bull shark', 'a small reef shark',
       'small blacktip shark?', '18" to 24" shark',
       'Possibly a bull shark', "Possibly a 5' to 6' bull shark",
       'Tawny nurse shark, 40cm', 'Sand Tiger Shark',
       'Allegedly a 4 m tiger shark', "7' to 8' shark ",
       'Port Jackson shark, 1m', "10' to 12' shark", '2 to 2.5 m shark',
       "6' shark, possibly a blactip or spinner shark",
       "Possibly a 5' to 6' sandtiger shark", '4 m shark',
       'Sevengill shark', 'Zambesi shark', "Sandbar shark, 8'",
       'reef shark, 1.5m', "1' to 2' shark",
       'possibly a bronze whaler shark', '3 m to 4 m shark',
       "Porbeagle shark, 8' ", "Possibly a 6' lemon shark",
       'Possibly a small blacktip shark', "Sandtiger shark, 4' to 5'",
       'A small spinner shark', '20 to 30kg shark', "14' shark",
       'Possibly a blue shark', '2 m to 3 m shark', "Spinner shark, 6'",
       'Thought to involve a juvenile hammerhead shark',
       'Whitetip reef shark, 1m', 'Zambesi shark, 2m ',
       "Sandtiger shark, 8'", 'Thresher shark', 'Spurdog',
       'Thought to involve a Bronze whale shark, 2m',
       'Shark involvement probable, but not confirmed', '80 kg shark',
       "5' to 8' shark", 'blacktip or spinner shark',
       'Bronze whaler shark?', 'Blacktip reef shark pup',
       'Thought to involve a cookie cutter shark', '2.6 m shark',
       'Dusky shark, 2m', 'Broadnose sevengill shark',
       'Raggedtooth shark, 2m', 'Zambesi shark?', 'Copper shark',
       ' reef shark, 1.8m', "+3' shark", "2' to 3' juvenile shark",
       "3'  shark", "2'  shark", "2' to 3' reef shark",
       'Starry smoothhound shark, 1m', "4.5 to 5' shark", 'Basking shark',
       '2 small bull sharks',
       'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
       'Shark involvement not confirmed; thought to be a barracuda bite',
       "1.5' to 2' shark", "2.5' shark",
       'A bull shark, according to some of the divers on the boat',
       "Goblin shark, 4.2'", 'Bronze whaler shark, 4m',
       'Possibly a hammerhead shark', 'Not a shark attack; it was a hoax',
       '2.27 m shark', '1.5 to 2 m shark', 'Gray reef shark',
       "9.5' shark?", 'Possibly a spinner shark', 'Sand shark',
       "Possibly a 6' bull shark", ' ', "Possibly a 10' bull shark",
       'Bronze whaler shark, 1.5 m ',
       "3' small spotted catshark, Scyliorhinus canicula",
       'A 10-year-old 94-pound pregnant blacktip reef shark',
       'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
       '2.4 m shark', '24" to 30" shark',
       "6' to 8' shark, possibly a tiger shark", '2.5 to 3 m shark',
       '2 to 3 m shark', 'Raggedtooth shark, 150-kg', "1' to 4' shark",
       "3' to 3.5' shark", 'small catsharks',
       'Thought to involve a mako shark, but possibly a sea lion',
       'Angel shark, 1.2m ',
       'Shark involvement not confirmed, injury may have been caused by a bluefish',
       'Bull or tiger shark', "5' to 6' spinner or bull shark",
       '1.8 m blacktip "reef" shark',
       "Possibly a 1' to 3' blacktip or spinner shark",
       'Bronze whaler shark, a  juvenile ',
       'Raggedtooth shark, 2.5 m to 3 m ', '3 m, 600-kg shark',
       'Bronze whaler shark, 2 m', "5' to 7' shark", "12' to 18' shark",
       'Said to involve a 1.5 m shark', 'Whitetip reef shark',
       'Raggedtooth shark, 2.5m ', "2 m [6.75'] shark, 200-kg shark T",
       'Possibly a sandbar shark or small blacktip shark',
       "3.5 m [11.5']shark", "[4.5' to 5'] shark", "[4' to 5']",
       "1.8 m [6'] bull shark",
       'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
       'Unknown, but it was reported that a shark tooth was recovered from the wound',
       '"small shark"', '18" to 36" shark', "1.8 m [6'] blacktip shark",
       'small hammerhead shark', "4 m [13'] shark",
       "Sandtiger shark, 2.1 m [7'] ",
       "Bronze whaler shark, 4.3 m [14'] ",
       "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
       "2.5 m [8.25'] bull shark", "Bronze whaler shark, 2.4 m [8'] ",
       "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
       'Thought to involve a 2.5 m bull or tiger shark',
       "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
       '2 sharks, 4.5 m & 3 m ', '"black tipped" shark',
       "Bronze whaler shark, 2.5 m [8.25'] ",
       "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3.7 m [8' to 12'] shark", 'small sharks',
       "1.2 m [4'] bull shark", 'bull shark',
       "Bronze whaler shark, 1.5 m [5'] ", "2 m [6.75'] sevengill  shark",
       '60 cm [23.6"] blind or brown shark',
       'Possibily a  1.5 to 2 m sandtiger shark',
       'Shark involvement doubtful', "Raggedtooth shark, 3.5 m [11.5'] ",
       'Shortfin mako shark',
       "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
       '1.2 m [4\'] "grey-colored shark"', '2 m cow shark',
       'Unidentified species', "1.5 m to 1.8 m [5' to 6'] shark",
       "2.1 m  [7'] bull shark", "8' great hammerhead shark",
       "106 cm [3.5']  shark", '\x93small brown shark\x94',
       "3.7 m to 4.3 m [12' to 14'] shark", '"sand shark"',
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "0.9 m to 1.2 m [3' to 4'] shark", 'A \x93small\x94 shark',
       '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
       "60 cm [2'] captive shark", 'Species unidentified',
       "Thought to involve a 2 m [6.75'] grey nurse shark",
       "Thought to involve a >2 m [6.75'] bull shark",
       'Reported to involve a hammerhead shark',
       'Shark involvement not confirmed, injury may be due to a stingray',
       "2.4 m to 3 m [8' to 10'] grey colored shark",
       'Possibly a bull shark or tiger shark',
       'Blacktip or spinner shark', "3.5' to 4.5' shark",
       "1.2 m [4'] blacktip shark", "3 m to 3.7 m [10' to 12'] shark",
       "1' to 2' hammerhead or bonnethed shark",
       "0.9 m  to 1.2 m [3' to 4'] shark", "Sandtiger shark, 3 m [10'] ",
       "1.2 m [4'] blacktip or sandbar shark",
       "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
       "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
       '\xa0 ', '1 m  shark', "3' blacktip shark",
       "2.1 m to 2.4 m [7' to 8'] shark", "0.9 m [3'] shark",
       "Spinner shark, 3' to 4' ",
       'Shark involvement prior to death unconfired',
       '1.5 m [5\'] "whaler shark"',
       'C. leucas tooth fragment recovered from kayak', 'Unidentified',
       "2' to 3.5' shark", "12' sandtiger shark", "3 m [10'] bull shark",
       'Possibly  a blacktip or spinner shark',
       'Possibly a juvenile blacktip or spinner shark',
       "Possibly a 1.5 m [5'] blacktip or spinner shark",
       "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
       "Bronze whaler shark, 2.5 m [8.25']  k", "2 m [6.75'] shark",
       '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
       "6 m [20'] shark", "Porbeagle shark, 3 m [10']rk",
       "1.2 m to 1.8 m [4' to 6'] shark", "2.1 to 2.4 m [7' to 8'] shark",
       '100-kg [221-lb] dead blue shark',
       "60 cm to 90 cm [2' to 3'] shark",
       'Thought to involve a Zambesi shark',
       "A 2' shark was seen in the area by witnesses",
       "Thought to involve a 2.7 m [9'], 400-lb bull shark",
       'Shark involvement  not confirmed',
       "1.8 m [6'] grey-colored shark",
       "0.9 m [3'] shark,  probably a blacktip or spinner shark",
       "2 m to 2.5 m [6.75'  to 8.25'] shark",
       "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ", '3 bull sharks',
       '200 to 300 kg shark',
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'Bronze whaler or tiger shark', 'A "small shark"',
       "Dusky shark, 12' ", "4.5' to 5' shark",
       'Sandtiger shark, 2 m, male ', "Raggedtooth shark, 1.2 m [4'] ",
       "1.8 m [6'] shark, possibly a blacktip", "5' spinner shark",
       '1.7 m shark', 'Small dusky shark or blackfin shark',
       'sandtiger shark',
       'Shark involvement prior to death suspected but not confirmed',
       'Possibly a blacktip shark', 'Soupfin shark',
       'small blacktip shark', '"juvenile shark"',
       "1.2 m [4'] shark (spinner shark?)", 'Possibly a sand shark',
       "1.8 m to 2.1 m [6' to 7'] shark", '"a young shark"',
       "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
       "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
       'nurse shark', '"reef shark"', 'Possibly a tiger shark',
       "1.2 m to 1.5 m [4' to 5']   shark",
       "1.5 to 1.8 m [5' to 6'] shark",
       "3 m to 3.7 m [10' to 12'] bull shark", '"sand" shark',
       "Two 1.2 m to 1.5 m [4' to 5'] sharks",
       'Though to involve a tiger shark', 'Bronze whaler shark, 2 m ',
       'Leopard shark', "Raggedtooth shark, 2.7 m [9'] ",
       "2.7 m [9'] shark", 'Thought to involve a small sand shark',
       'Small shark', "3 to 3.5 m [10' to 11.5'] bull shark",
       "1.2 m [4'] spinner shark", "2.1 m [7'] shark",
       "3 m [10'], 200-kg [441-lb] bull shark", '1.3 m [4\'3"] shark',
       "On 11-Jan-1994, his remains washed ashore. A 2.4 m [8'] tiger shark thought to be involved",
       "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
       'Thought to involve a tiger shark', "6' to 7' blacktip shark",
       '3 m hammerhead shark', 'Unidentified shark', '>2 m shark',
       'Bronze whaler shark, 3 m', "5 m [16.5'] shark",
       '1.8 m grey shark', "Bronze whaler shark, 2.3 m [7.5'] ",
       "Zambesi shark, 1.7 m [5.5'] ",
       "Possibly a 1.5 m [5'] blacktip shark",
       "3 m [10'], 270- kg [595-lb] shark", 'sand shark',
       "2.1 m [7'], 140-lb reef shark", "2.7 m [9'] bull or lemon shark",
       '170-kg, 2.8 m shark', "7' female shark",
       '"Shark had a very large girth"', 'Grey nurse shark, 2 m',
       "1.8 m [6'] shark ", "4' spinner shark",
       "1.8 m to 2.4 m [6' to 8'] shark",
       'Shark involvement prior to death could not be determined',
       '6 m, 600-kg shark', '2 m hammerhead',
       "Two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] TL",
       '2 m shark, possibly a bronze whaler',
       'Shark involvement suspected but not confirmed', '150-lb shark',
       'Sandbar shark', "Bronze whaler shark, 3 m [10'] ",
       "1.8 m [6'] sandtiger shark", "3 m [10'] gaffed shark",
       "1.8 m to 2.4 m [6' to 8'] hammerhead shark", "7' silvertip shark",
       '2 m to 2.5 m shark', 'Sand shark?',
       "1.5 m to 2 m [5' to 6.75'] shark", 'Raggedtooth shark, 2 m ',
       '1 m "grey-colored" shark',
       'Zambezi shark (tooth fragments recovered)', '6 m shark',
       '40 to 50 sharks attacked survivors in the water',
       "1.5 m [5'] blacktip shark", '4.3 m shark',
       'Bronze whaler shark, 2 m to 3 m ',
       'Doubtful / Unconfirmed attack / Unable to verify in local records',
       "Raggedtooth shark, 2.5 m [8.25'] ",
       "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark",
       'Raggedtooth shark, 1.96 m, 140-kg ', '1.6 m shark',
       "1.2 m [4'] dusky shark", '>1 m shark',
       "Raggedtooth shark, 2 m [6.75'] ", 'Bronze whaler shark, 3.5 m ',
       "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
       "6', 100-lb shark", '1.8 m silky shark',
       'Possibly a small hammerhead shark', '30-kg [66-lb] shark',
       "1.5 m [5'] dusky shark",
       'Shark involvement not confirmed; officials considered barracua',
       'Hammerhead shark?+O2356', 'small blue shark',
       'Raggedtooth shark ', "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
       "2.5 m [8.25'] shark", 'Raggedtooth shark, 56-kg [123-lb] ',
       " 1.5 m [5'] dusky shark", 'Raggedtooth shark, 1 m ',
       'Raggedtooth shark, >1 m ', '.5 m shark', "4.5' shark",
       "6' to 8' bull shark", "3 m to 4 m [10' to 13'] shark",
       "3.5' hammerhead shark", "6' blacktip shark",
       "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
       "1.8 m [6'] Zambezi shark",
       "2.1 m [7'] shark, possibly a spinner shark",
       'Reported as a shark attack, the story was a hoax',
       '1.2 m to 1.5 m [4\' to 5\'] "reef shark"',
       '2.1 m [7\'] shark with "a very flat head\x94 that had followed the boat for 3 days',
       'Said to involve a tiger shark or a hammerhead shark',
       "1.8 m [6'] shark, species identity questionable",
       'Shark involvement prior to death remains unconfirmed',
       '"sandshark"', "Possibly a  1.8 m [6'] Zambezi shark",
       '"gray shark"', "13', 400-lb thresher shark",
       "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark",
       'C. maculpinnis or C. limbatus',
       'Juvenile dusky or blacktip shark', '1 m hammerhead shark',
       "3.5 m [11.5'] shark", "4' to 8' shark",
       "1.5 m [5'] hammerhead shark", '2.2 m shark',
       '2 m [6\'9"] Zambesi shark', 'Raggedtooth shark, 2 m [6\'9"] ',
       "1.8 m [6'] dogfish",
       "Raggedtooth shark, 50-kg [110-lb], 2 m [6.75'] gaffed ",
       '2 m [6\'9"] shark', '270 kg shark',
       'Thought to involve a blacktip shark',
       "1.5 to 2 m [5' to 6.75'] shark",
       "2.1 m [7'] lemon shark or bull shark", "2.7 m  [9'] shark",
       'Whale shark', "Grey nurse shark, 10' ", 'Juvenile dusky shark',
       'Shark involvement unconfirmed', "2.4 m [8'] whaler shark",
       "1.5 m [5']  shark", "Carpet shark, 10' ",
       'Copper shark, 50-kg [110-b] ', "8' blue shark",
       "Shortfin mako shark, 2.3 m [7.5'] ", "small sharks'",
       "3.7 m [12'] sharks", "Raggedtooth shark, 1.5 m [5'] ",
       "Bronze whaler shark, 4' ", "7' to 8' bull shark",
       "1.5 m to 1.8 m [5' to 6']  blacktip shark",
       '2 m shark, possibly a dusky or blacktip shark',
       "1.2 m to 1.8 m [4' to 6'] shark observed in area",
       "Bronze whaler shark, 10' ", '1.5 m grey reef shark',
       "1.8 m [6'] grey reef shark", '1.5 m to 2 m shark',
       "Grey nurse shark, 11'", '3.6 m  porbeagle shark',
       '1.8 to 2 m C. albimarginatus', '"Dog shark"', "7.5' shark",
       'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ',
       'Carpet shark', ">2.4 m [8'] shark",
       'Considered a "Doubtful" incident',
       "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']",
       '90-kg "blackfin" shark', 'a small hammerhead shark',
       "4m [13'] shark", 'Not authenticated', "2.7 m [9'] silky shark",
       "Bronze whaler shark, 1.8 m [6'] ",
       "1.5 m to 1.8m [5' to 6'] shark", "5' blue shark",
       "1.5 m to 1.8 m [5' to 6'] sandbar shark",
       "2.1 m [7'] sandtiger shark", "Grey nurse shark, 1.5 m [5'] ",
       "Grey nurse shark, 1.5 m [5']",
       "Bronze whaler shark, 2.1 m [7'], a tooth was embedded in the speargun ",
       'A pack of 6 sharks', "1.5 m to 2.1 m  [5' to 7'] shark",
       'Spinner or blacktip sharks',
       "Local authorities speculated that the water was too cold for sharks, but a 2.1 m [7'], 200-lb pregnant sandbar shark was caught next day",
       "1.2 m [4'] hammerhead shark",
       "1.5 m to 1.8 m [5' to 6'] Zambesi shark",
       "76 cm [2.5'] carpet shark", '1.8 m to 2 m [6\' to 6\'9"] shark',
       "1.8 m [6'] carpet shark", "4.6 m [15'] shark",
       "Grey nurse shark, 2.4 m [8'] ", "1.8 m [6'], 180-lb shark",
       '2 sharks involved', '300-kg [662-lb] shark',
       "1.8 m [6'], 136-kg [300-lb] shark ", "4.9 m [16'] whaler",
       "1.5 m to 2.1 m [5' to 7'] shark, possibly a mako shark",
       "Grey nurse shark, 1.8 m [6']", "1.8 to 2.4 m [6' to 8'] shark",
       "Less than 1.2 m [4']", "1.7 m [5.5'] shark",
       "2.1 m to 2.4 m  [7' to 8'] shark", "Zambesi shark, 1.8 m [6'] ",
       "1.8 m [6']  shark", "4.3 m [14'], 1000-lb shark",
       'Dusky shark, 1 m ', '300- to 400-lb Zambesi shark',
       'Possibly a broadnose 7-gill shark', ">1.2 m [4'] tiger shark",
       "Silky shark, 1.9 m [6.5']",
       'Dooley believed his Injury was caused by stingray (Dasyatidae family)',
       '500-lb shark', "5.5 m [18'] shark", '8 sharks',
       'Hand found in gut of 2.9 m to 3.3 m [9\'7" to 10\'11"] Galapagos shark, C. galapagensis',
       "1.8 m to 2.4 m  [6' to 8'] shark",
       "3.7 to 4.5 m [12' to 15'] shark seen in vicinity",
       'Tooth fragments of \x93whaler\x94 shark were recovered, a bull shark, according to Edwards',
       '193-lb shark', "Grey nurse shark, 1.8 m [6'] ", '<1.5 m shark',
       'Zambesi shark, 2 m [6\'9"] ',

In [378]:
lemon=sk.Species.str.contains("lemon", case=False)

In [379]:
lemon.shape

(8665,)

In [380]:
sk.at[lemon, 'Species'] = 'Lemon shark'

In [381]:
sk.Species.value_counts()[13:]

Grey Reef shark                                      15
Zambesi shark                                        11
Hammerhead shark                                     10
2.1 m [7'] shark                                      9
a small shark                                         9
                                                     ..
1.2 m [4'] spinner shark                              1
Shark involvement not confirmed & highly unlikely     1
3 m [10'], 200-kg [441-lb] bull shark                 1
1.3 m [4'3"] shark                                    1
Silvertip shark                                       1
Name: Species, Length: 805, dtype: int64

In [382]:
zam=sk.Species.str.contains("Zambesi", case=False)

In [383]:
sk.at[zam, 'Species'] = 'Zambesi shark'

In [384]:
bull=sk.Species.str.contains("bull", case=False)

In [385]:
sk.at[bull, 'Species'] = 'Bull shark'

In [386]:
sk.Species.value_counts()[13:]

Copper shark                16
Grey Reef shark             15
Hammerhead shark            10
Sevengill shark              9
a small shark                9
                            ..
Unidentified shark           1
>2 m shark                   1
Bronze whaler shark, 3 m     1
5 m [16.5'] shark            1
Silvertip shark              1
Name: Species, Length: 757, dtype: int64

In [387]:
un=sk.Species.str.contains("Unidentified", case=False)

In [388]:
sk.at[un, 'Species'] = 'Unknown'

In [389]:
sk.Species.value_counts()[13:]

Copper shark                             16
Grey Reef shark                          15
Unknown                                  14
Hammerhead shark                         10
a small shark                             9
                                         ..
Dusky shark, 12'                          1
4.5' to 5' shark                          1
Sandtiger shark, 2 m, male                1
1.8 m [6'] shark, possibly a blacktip     1
Silvertip shark                           1
Name: Species, Length: 753, dtype: int64

In [391]:
sk2=sk.copy()

sk2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8665 entries, 0 to 25722
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    8665 non-null   object
 1   Year                    8665 non-null   object
 2   Type                    8665 non-null   object
 3   Country                 8665 non-null   object
 4   Area                    8665 non-null   object
 5   Location                8665 non-null   object
 6   Activity                8665 non-null   object
 7   Name                    8665 non-null   object
 8   Sex                     8665 non-null   object
 9   Age                     8665 non-null   int8
 10  Injury                  8665 non-null   object
 11  Fatal                   8665 non-null   object
 12  Species                 8665 non-null   object
 13  Investigator or Source  8665 non-null   object
 14  pdf                     8665 non-null   object
 15  href                    8665 non-null   object
 16  original order          8665 non-null   object
 17  time                    8665 non-null   object
dtypes: int8(1), object(17)
memory usage: 10.0 MB

In [394]:
sk[sk.Species.str.contains('Sandtiger')]

,date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href,original order,time
112,2017-07-23,2017.0,Unprovoked,USA,New Jersey,Ventnor,unknown,Isabella Smith,F,27,Minor injury to hand,N,Sandtiger shark 2',A. Smith,2017.07.23.b-Smith.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6191.0,unknown
302,2016-03-02,2016.0,Unprovoked,BRAZIL,Santa Catarina State,Escalerio Beach BalneÃ¡rio CamboriÃº,Swimming,Rafael Hermes Thomas,M,41,Minor injury to head,N,Sandtiger shark,"Misones Online, 3/4/2016",2016.03.02-Thomas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6001.0,unknown
310,2016-02-02,2016.0,Unprovoked,BRAZIL,BalneÃ¡rio CamboriÃº,Estaleirinho beach,Swimming,Rafael Hermes Thomas,M,41,Lacerations to scalp,N,Sandtiger shark,"Globo, 2/3/2016",2016.02.02-Thomas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5993.0,unknown
407,2015-06-24,2015.0,Unprovoked,USA,North Carolina,Surf City,Swimming,Brady Noyes,M,6,Minor injury to foot,N,Sandtiger shark,"C. Creswell, GSAF",2015.06.24.b-Noyes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5896.0,12:25
718,2012-12-02,2012.0,Unprovoked,AUSTRALIA,New South Wales,Green Island,Spearfishing,male,M,31,Minor puncture wounds to knee,N,Sandtiger shark,"ABC News, 12/2/2012",2012.12.02-Green-Island.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5585.0,16:45
1009,2010-07-17,2010.0,Unprovoked,USA,North Carolina,"Wrightsville Beach, New Hanover County",Swimming,Kendall Parker,F,13,Lacerations to right forearm,N,"Sandtiger shark, 4' to 5'","C. Creswell, GSAF",2010.07.17.b-Parker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5294.0,13:30
1068,2009-12-06,2009.0,Provoked,USA,New Jersey,"Adventure Aquarium, Camden",Diving,Robert Large,M,58,Lacerations & puncture wounds to right calf & ...,N,"Sandtiger shark, 8'","R. Large; Philadelphia Daily News, 4/22/2010",2009.12.06-Large.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5235.0,13:00
1343,2007-08-20,2007.0,Provoked,USA,Delaware,"Indian River Inlet, Rehoboth Beach",Fishing,male,M,27,Forearm bitten by hooked shark PROVOKED INCIDENT,N,Sandtiger shark,"Delaware Coast Press, 8/24/2007",2007.08.20-DelawareFisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4960.0,19:45
1605,2005-03-12,2005.0,Provoked,USA,New Mexico,"Albuquerue Aquarium, Albuquerue",Diving in aquarium display tank,Ken Pitts,M,45,2 punctures on forearm as captive shark collid...,N,"Sandtiger shark, 2.1 m [7']","H. Casman; T. Dukart, KOBTV",2005.03.12-Pitts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4698.0,15:30
1838,2002-08-06,2002.0,Provoked,UNITED KINGDOM,Cheshire,"Blue Planet Aquarium, Ellesmere Port",Diving,Rob Bennett,M,30,Hand bitten by captive shark PROVOKED INCIDENT,N,"Sandtiger shark, 3 m [10']","Evening Standard (London, England)",2002.08.06-Bennet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4465.0,unknown
2173,1998-08-12,1998.0,Provoked,SOUTH AFRICA,Transvaal,"National Zoological Gardens Aquarium, Pretoria",Moving a shark in a net,Kobus Goosen,M,27,Lacerations to right shin PROVOKED INCIDENT,N,"Sandtiger shark, 2 m, male","Daily Dispatch, 8/13/1998",1998.08.12-Goosen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4130.0,unknown
2729,1988-06-16,1988.0,Unprovoked,USA,North Carolina,"Ocracoke, Hyde County",Scuba diving,male,M,42,Survived,N,Sandtiger shark,"C. Creswell, GSAF",1988.06.16-diver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3574.0,unknown
2833,1985-12-10,1985.0,Unprovoked,USA,North Carolina,New Hanover County,unknown,male,M,27,Survived,N,Sandtiger shark,"C. Creswell, GSAF",1985.12.10-NV-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3470.0,unknown
4000,1960-04-10,1960.0,Provoked,AUSTRALIA,Western Australia,Off Rottnest Island,"Spearfishing, shot a sandtiger shark. Cord to ...",Mick Coleman,M,27,"Bruises & minor injuries from reef, not the sh...",N,"Sandtiger shark, 2.1 m [7']","V.M. Coppleson (1962), p.252",1960.04.10-Coleman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2303.0,unknown

In [396]:
sd=sk.Species.str.contains('Sandtiger', case=False)

In [397]:
sk.at[sd, 'Species'] = 'Sand Tiger shark'

,date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href,original order,time
112,2017-07-23,2017.0,Unprovoked,USA,New Jersey,Ventnor,unknown,Isabella Smith,F,27,Minor injury to hand,N,Sand Tiger shark,A. Smith,2017.07.23.b-Smith.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6191.0,unknown
302,2016-03-02,2016.0,Unprovoked,BRAZIL,Santa Catarina State,Escalerio Beach BalneÃ¡rio CamboriÃº,Swimming,Rafael Hermes Thomas,M,41,Minor injury to head,N,Sand Tiger shark,"Misones Online, 3/4/2016",2016.03.02-Thomas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6001.0,unknown
310,2016-02-02,2016.0,Unprovoked,BRAZIL,BalneÃ¡rio CamboriÃº,Estaleirinho beach,Swimming,Rafael Hermes Thomas,M,41,Lacerations to scalp,N,Sand Tiger shark,"Globo, 2/3/2016",2016.02.02-Thomas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5993.0,unknown
407,2015-06-24,2015.0,Unprovoked,USA,North Carolina,Surf City,Swimming,Brady Noyes,M,6,Minor injury to foot,N,Sand Tiger shark,"C. Creswell, GSAF",2015.06.24.b-Noyes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5896.0,12:25
718,2012-12-02,2012.0,Unprovoked,AUSTRALIA,New South Wales,Green Island,Spearfishing,male,M,31,Minor puncture wounds to knee,N,Sand Tiger shark,"ABC News, 12/2/2012",2012.12.02-Green-Island.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5585.0,16:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3752,1963-04-22,1963.0,Provoked,AUSTRALIA,New South Wales,Clarence Head,Fishing,Jack Sonter,M,27,Foot lacerated by netted shark PROVOKED INCIDENT,N,Sand Tiger Shark,H.D. Baldridge (1994) SAF Case #1472,1963.04.22-NV-Sonter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2551.0,unknown
3787,1962-10-14,1962.0,Boating,AUSTRALIA,South Australia,Port Phillip Bay,Adrift after wave swamped engine,"speedboat, occupant: Michael Wilson",M,27,"No injury to occupant, shark ""nibbled"" at boat",N,Sand Tiger Shark,"Strand (London), 10/15/1962",1962.10.14-Wilson-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2516.0,unknown
4000,1960-04-10,1960.0,Provoked,AUSTRALIA,Western Australia,Off Rottnest Island,"Spearfishing, shot a sandtiger shark. Cord to ...",Mick Coleman,M,27,"Bruises & minor injuries from reef, not the sh...",N,Sand Tiger shark,"V.M. Coppleson (1962), p.252",1960.04.10-Coleman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2303.0,unknown
4559,1947-12-21,1947.0,Unprovoked,AUSTRALIA,New South Wales,"Watson Taylor's Lake, 25 miles south of Port M...",Fishing,Don Ireland,M,9,Leg gashed,N,Sand Tiger Shark,"Canberra Times, 12/22/1947",1947.12.21-Ireland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1744.0,unknown
4998,1932-01-11,1932.0,Boating,AUSTRALIA,Victoria,Frankston,Fishing,boat,unknown,27,No details,UNKNOWN,Sand Tiger Shark,G.P. Whitley citing Herald (Melbourne) 1/12/1932,1932.01.11-boatFrankston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1305.0,unknown

In [400]:
sk.Species.value_counts()[13:]

Caribbean Reef shark                   18
Copper shark                           16
Grey Reef shark                        15
Unknown                                14
Hammerhead shark                       10
                                       ..
5' spinner shark                        1
1.7 m shark                             1
Small dusky shark or blackfin shark     1
Possibly a blacktip shark               1
Silvertip shark                         1
Name: Species, Length: 741, dtype: int64

In [401]:
sk.Species.replace('Unknown','unknown', inplace=True)

In [408]:
sk.Species.value_counts()[9:]

Blacktip shark                         37
Zambesi shark                          29
Sand Tiger Shark                       23
Sand Tiger shark                       20
Caribbean Reef shark                   18
                                       ..
5' spinner shark                        1
1.7 m shark                             1
Small dusky shark or blackfin shark     1
Possibly a blacktip shark               1
Silvertip shark                         1
Name: Species, Length: 744, dtype: int64

In [409]:
bk=sk.Species.str.contains('black', case=False)

In [410]:
sk.at[bk, 'Species'] = 'Blacktip shark'

In [421]:
sk.Species.value_counts()[14:]

Copper shark                                              16
Grey Reef shark                                           15
Hammerhead shark                                          10
Sevengill shark                                            9
2.1 m [7'] shark                                           9
                                                          ..
Bronze whaler or tiger shark                               1
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
200 to 300 kg shark                                        1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']             1
Silvertip shark                                            1
Name: Species, Length: 660, dtype: int64

In [414]:
nrs=sk.Species.str.contains('nurse', case=False)

In [415]:
sk.at[nrs, 'Species'] = 'Nurse shark'

In [422]:
hamme=sk.Species.str.contains('hammerhead', case=False)

In [423]:
sk.at[hamme, 'Species'] = 'Hammerhead shark'

In [424]:
mkkkk=sk.Species.str.contains('mako', case=False)

In [425]:
sk.at[mkkkk, 'Species'] = 'Mako shark'

In [426]:
sk.Species.value_counts()[14:]

Caribbean Reef shark                                      18
Copper shark                                              16
Grey Reef shark                                           15
Sevengill shark                                            9
1 m shark                                                  9
                                                          ..
Bronze whaler or tiger shark                               1
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity     1
200 to 300 kg shark                                        1
1.8 m [6'] grey-colored shark                              1
Silvertip shark                                            1
Name: Species, Length: 614, dtype: int64